.star {
  font-size: 1.5rem;
  color: #3f6ad8;
}

.filled {
  color: #3ac47d;
}

.bad {
  color: #f7b924;
}

.filled.bad {
  color: #d92550;
}

.star2 {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: var(--gray);
}

.full {
  color: #16aaff;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #d92550;
}
