<form (ngSubmit)="submitForm()" class="p-4">
  <div class="mb-3 form-pemeriksaan">
    <h5 class="fw-bold">Pemeriksaan Tekanan Darah</h5>
  </div>
  <div class="mb-4">
    <!-- Sistolik -->
    <div class="mb-3">
      <label class="form-label">Sistolik (mmHg)</label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="model.sistolik"
        (change)="getTekananDarahLabel()"
        name="sistolik"
        required
      />
    </div>

    <!-- Diastolik -->
    <div class="mb-3">
      <label class="form-label">Diastolik (mmHg)</label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="model.diastolik"
        (change)="getTekananDarahLabel()"
        name="diastolik"
        required
      />
    </div>

    <!-- Hasil Tekanan Darah -->
    <div class="mb-3">
      <label class="form-label">Hasil Tekanan Darah</label>
      <select
        class="form-control"
        [(ngModel)]="model.hasil"
        name="hasil"
        required
      >
        <option
          *ngFor="let kategori of kategoriTekananDarah"
          [value]="kategori"
        >
          {{ kategori }}
        </option>
      </select>
    </div>
  </div>

  <button class="btn btn-primary mt-3 form-pemeriksaan-pkg">
    <span *ngIf="!isLoading"> Submit </span>
    <span *ngIf="isLoading">
      <span class="spinner-border spinner-border-sm me-1"></span>
      Loading...
    </span>
  </button>
</form>
