<form (ngSubmit)="submitFormRisiko()" class="p-4">
  <div class="mb-3 form-pemeriksaan">
    <h5 class="fw-bold">Prediksi Risiko Jantung & Stroke</h5>
  </div>
  <div class="mb-3">
    <label class="form-label"
      >Persentase Risiko Penyakit Kardiovaskular (WHO Chart)</label
    >
    <input
      type="number"
      class="form-control"
      [(ngModel)]="modelRisiko.persentase"
      name="persentaseRisiko"
      placeholder="Contoh: 10"
    />
  </div>

  <button class="btn btn-primary mt-3 form-pemeriksaan-pkg">
    <span *ngIf="!isLoading"> Submit </span>
    <span *ngIf="isLoading">
      <span class="spinner-border spinner-border-sm me-1"></span>
      Loading...
    </span>
  </button>
</form>
