<div class="row">
  <div class="col-12">
    <div class="card mb-2" *ngFor="let row of arrCluster; let i = index">
      <div class="card-header bg-dark text-white">
        {{row.group}}
      </div>
      <div class="card-body">
        <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-0">
          <ng-container *ngFor="let clust of row.cluster; let j = index">
              <ngb-panel>
                  <ng-template ngbPanelHeader let-opened="opened">
                      <div class="d-flex align-items-center justify-content-between ng-star-inserted w-100 text-white text-capitalize">
                          <div class="text-dark">
                            <i class="fa fa-list pe-2"></i>{{clust.name}}
                            <span class="text-info ps-3">0 dari 11 skrining sudah di lakukan</span>
                          </div>
                          <button *ngIf="opened" ngbPanelToggle class="btn btn-link p-0 text-dark me-2"><i class="fa fa-angle-up" style="font-size: x-large;"></i></button>
                          <button (click)="getClusterById(clust.id)" *ngIf="!opened" ngbPanelToggle class="btn btn-link p-0 text-dark me-2"><i class="fa fa-angle-down" style="font-size: x-large;"></i></button>
                      </div>
                  </ng-template>
                  <ng-template ngbPanelContent>
                      <table class="table table-sm table-hover">
                        <tbody>
                          <tr *ngFor="let skrin of arrSkrining; let k = index">
                            <td>{{k + 1}}</td>
                            <td>
                              {{skrin.name}}
                            </td>
                            <td>
                              <button class="btn btn-primary" (click)="openModal(modal, skrin)">
                                <i class="fa fa-pencil-square-o pe-2"></i>Lakukan Skrining
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                  </ng-template>
              </ngb-panel>
          </ng-container>
        </ngb-accordion>
      </div>
    </div>
  </div>
</div>

<ng-template #modal let-modal>
  <div class="modal-header bg-primary h-auto py-2">
      <h4 class="modal-title text-white">{{titleModal??''}}</h4>
      <button id="closeModal" type="button" class="close border-0 text-white bg-transparent" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <i class="fa fa-times" aria-hidden="true"></i>
      </button>
  </div>
  <div class="modal-body">
      <div class="row">
        <div class="col-12 h5 fw-bold">
          {{subTitleModal??''}}
        </div>
      </div>
      <table class="table table-sm table-borderless table-hover">
        <thead>
          <tr>
            <th class="fw-bold">No</th>
            <th class="fw-bold">Pertanyaan</th>
            <th class="fw-bold">Jawaban</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let question of questions; let i = index">
            <td>{{i+1}}</td>
            <td>{{question.text}}</td>
            <td *ngIf="question.type == 'ValueText'">
              <div class="form-check form-check-inline" *ngFor="let option of question.default_options; let no = index">
                <input class="form-check-input" [name]="'question'+question.id" type="radio" [id]="'option-'+question.id+no" [value]="option.ValueText" [(ngModel)]="question.answer">
                <label class="form-check-label" [for]="'option-'+question.id+no">{{option.display}}</label>
              </div>
            </td>
            <td *ngIf="question.type == 'Boolean'">
              <div class="form-check form-check-inline" *ngFor="let option of question.default_options; let no = index">
                <input class="form-check-input" [name]="'question'+question.id" type="radio" [id]="'option-'+question.id+no" [value]="option.valueBoolean" [(ngModel)]="question.answer">
                <label class="form-check-label" [for]="'option-'+question.id+no">{{option.display}}</label>
              </div>
            </td>
            <td *ngIf="question.type == 'Input'">
              <input type="text" class="form-control" [(ngModel)]="question.answer">
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="modal-footer justify-content-center">
    <button (click)="simpan()" class="btn btn-primary me-2">Simpan</button>
    <button class="btn btn-secondary me-2" (click)="modal.dismiss('Cross click')">Batal</button>
  </div>
</ng-template>