<!-- <div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="icon {{icon}}"></i>
      </div>
      <div>
        {{heading}}
        <div class="page-title-subheading">
          {{subheading}}
        </div>
      </div>
    </div>
    <div class="page-title-actions">
  
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-md-7">
    <div
      class="card main-card mb-3"
      style="
        border: 0.5px solid #dbdbdb;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
          rgba(17, 17, 26, 0.1) 0px 8px 24px,
          rgba(17, 17, 26, 0.1) 0px 16px 56px;
      "
    >
      <div
        class="card-header"
        style="background-color: #ececec; color: #000000"
      >
        Tambah Pasien Baru
        <i style="font-size: 20px" class="font-icon-wrapper pe-7s-print"> </i>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <!-- <div class="position-relative mb-3">
                <label for="exampleEmail" class="form-label" style="color:black;">Nomor RM</label>
              
              </div> -->

            <div class="position-relative mb-3">
              <label for="exampleEmail" class="form-label" style="color: black"
                >Nomor RM</label
              >

              <div class="input-group">
                <input
                  [(ngModel)]="norm"
                  placeholder="Norm"
                  type="text"
                  class="form-control"
                />
                <div class="input-group-text">
                  <i
                    class="fa fa-pencil btn"
                    (click)="shownorm(contentnorm)"
                    aria-hidden="true"
                  ></i>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="position-relative mb-3">
              <label for="exampleSelect" class="form-label" style="color: black"
                >Panggil</label
              >
              <select [(ngModel)]="an" id="exampleSelect" class="form-select">
                <option value="">-PILIH-</option>
                <option value="An">An</option>
                <option value="Tn">Tn</option>
                <option value="Ny">Ny</option>
                <option value="Nn">Nn</option>
              </select>
            </div>
          </div>

          <div class="col-md-7">
            <form [formGroup]="profileForm">
              <div class="position-relative mb-3">
                <label
                  for="exampleEmail"
                  class="form-label"
                  style="color: black"
                  >Nama Pasien</label
                >

                <input
                  formControlName="pasien"
                  [(ngModel)]="pasien"
                  placeholder="Pasien"
                  type="text"
                  class="form-control"
                />
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <form [formGroup]="profileForm">
              <div class="position-relative mb-3">
                <label
                  for="exampleSelect"
                  class="form-label"
                  style="color: black"
                  >Kelamin</label
                >
                <select
                  formControlName="kelamin"
                  [(ngModel)]="kelamin"
                  id="exampleSelect"
                  class="form-select"
                >
                  <option value="">-PILIH-</option>
                  <option value="L">Laki-Laki</option>
                  <option value="P">Perempuan</option>
                </select>
              </div>
            </form>
          </div>

          <div class="col-md-3">
            <form [formGroup]="profileForm">
              <div class="position-relative mb-3">
                <label
                  for="exampleEmail"
                  class="form-label"
                  style="color: black"
                  >Tempat Lahir</label
                >
                <input
                  maxlength="50"
                  formControlName="tempatlahir"
                  [(ngModel)]="tempatlahir"
                  placeholder="Pasien"
                  type="text"
                  class="form-control"
                />
              </div>
            </form>
          </div>
          <div class="col-md-3">
            <div class="position-relative mb-3">
              <label for="exampleEmail" class="form-label" style="color: black"
                >Tanggal Lahir</label
              >
              <input
                [(ngModel)]="tgllahir"
                placeholder="Pasien"
                type="date"
                class="form-control"
                (change)="ktgl()"
              />

              <!-- <mat-form-field>
                    <input matInput [matDatepicker]="dp1" [(ngModel)]="tgllahir"  >
                    <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                    <mat-datepicker #dp1></mat-datepicker>
                  </mat-form-field> -->
            </div>
          </div>

          <div class="col-md-3">
            <div class="position-relative mb-3">
              <label for="exampleEmail" class="form-label" style="color: black"
                >Usia</label
              >
              <input
                [(ngModel)]="usia"
                placeholder="usia"
                type="text"
                class="form-control"
              />
              <!-- {{usiadeal}} -->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <form [formGroup]="profileForm">
              <div class="position-relative mb-3">
                <label for="exampleCity" class="form-label" style="color: black"
                  >Alamat KTP</label
                >
                <textarea
                  maxlength="200"
                  style="height: 120px"
                  formControlName="alamat"
                  [(ngModel)]="alamat"
                  id="exampleText"
                  class="form-control"
                ></textarea>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <label for="exampleCity" class="form-label" style="color: black"
              >Nama Orang Tua</label
            >
            <input
              [(ngModel)]="namaorangtua"
              placeholder=""
              type="text"
              class="form-control"
            />
            <label
              for="exampleCity"
              class="form-label mt-2"
              style="color: black"
              >Catatan Pasien</label
            >
            <input
              [(ngModel)]="catatanpasien"
              placeholder=""
              type="text"
              class="form-control mb-2"
            />
            <label
              for="exampleCity"
              class="form-label mt-2"
              style="color: black"
              >Pasien Baru</label
            >
            <div class="form-check mb-2">
              <input
                type="checkbox"
                class="form-check-input"
                id="pasienbaru"
                [checked]="pasienbaru === 1 || pasienbaru === '1'"
                (change)="pasienbaru = $event.target.checked ? 1 : 0"
              />
              <label class="form-check-label" for="pasienbaru">
                Pasien Baru
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="position-relative mb-3">
              <label for="exampleSelect" class="form-label" style="color: black"
                >Propinsi</label
              >
              <app-master-clenic-province
                [id]="propinsiid"
                [keyword]="propinsi"
                (selectedItem)="
                  propinsiid = $event.code; propinsi = $event.name
                "
              >
              </app-master-clenic-province>
            </div>
          </div>

          <div class="col-md-3">
            <div class="position-relative mb-3">
              <label for="exampleSelect" class="form-label" style="color: black"
                >Kabupaten</label
              >
              <app-master-clenic-city
                [id]="kabupatenid"
                [parentId]="propinsiid"
                [keyword]="kabupaten"
                (selectedItem)="
                  kabupatenid = $event.code; kabupaten = $event.name
                "
              >
              </app-master-clenic-city>
            </div>
          </div>

          <div class="col-md-3">
            <div class="position-relative mb-3">
              <label for="exampleSelect" class="form-label" style="color: black"
                >Kecamatan</label
              >
              <app-master-clenic-district
                [id]="kecamatanid"
                [parentId]="kabupatenid"
                [keyword]="kecamatan"
                (selectedItem)="
                  kecamatanid = $event.code; kecamatan = $event.name
                "
              >
              </app-master-clenic-district>
            </div>
          </div>

          <div class="col-md-3">
            <form [formGroup]="profileForm">
              <div class="position-relative mb-3">
                <label
                  for="exampleSelect"
                  class="form-label"
                  style="color: black"
                  >Kelurahan</label
                >
                <app-master-clenic-subdistrict
                  [id]="keluarahanid"
                  [parentId]="kecamatanid"
                  [keyword]="keluarahan"
                  (selectedItem)="
                    keluarahanid = $event.code;
                    keluarahan = $event.name;
                    profileForm.get('keluarahan')?.setValue($event.name)
                  "
                >
                </app-master-clenic-subdistrict>
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <form [formGroup]="profileForm">
              <div class="position-relative mb-3">
                <label
                  for="exampleSelect"
                  class="form-label"
                  style="color: black"
                  >Identitas</label
                >
                <select
                  formControlName="indetitas"
                  [(ngModel)]="indetitas"
                  id="exampleSelect"
                  class="form-select"
                >
                  <option value="">-PILIH-</option>
                  <option value="KTP">KTP</option>
                  <option value="SIM">SIM</option>
                  <option value="KIA">KIA</option>
                </select>
              </div>
            </form>
          </div>

          <div class="col-md-4">
            <div class="position-relative mb-3">
              <label for="exampleCity" class="form-label" style="color: black"
                >No Identitas</label
              >
              <input
                maxlength="25"
                [(ngModel)]="noindetitas"
                id="exampleCity"
                type="text"
                class="form-control"
                (keyup.enter)="cekbpjsnik()"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="position-relative mb-3">
              <label for="exampleCity" class="form-label" style="color: black"
                >No Asuransi</label
              >
              <input
                maxlength="25"
                [(ngModel)]="noasuransi"
                id="exampleCity"
                type="text"
                class="form-control"
                (keyup.enter)="cekbpjs($event)"
              />
              <div
                class="badge bg-pill bg-success my-2"
                (click)="cekkepesertaanbpjs(content7)"
              >
                Cek Kepesertaan BPJS
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="position-relative mb-3">
              <label for="exampleCity" class="form-label" style="color: black"
                >No Hp</label
              >
              <input
                [(ngModel)]="nohp"
                id="exampleCity"
                type="text"
                class="form-control"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <form [formGroup]="profileForm">
              <div class="position-relative mb-3">
                <label
                  for="exampleSelect"
                  class="form-label"
                  style="color: black"
                  >Agama</label
                >
                <select
                  formControlName="agama"
                  [(ngModel)]="agama"
                  id="exampleSelect"
                  class="form-select"
                >
                  <option value="">-PILIH-</option>
                  <option value="ISLAM">ISLAM</option>
                  <option value="KRISTEN">KRISTEN</option>
                  <option value="HINDU">HINDU</option>
                  <option value="BUDHA">BUDHA</option>
                  <option value="KATOLIK">KATOLIK</option>
                  <option value="TIDAK TAHU">TIDAK TAHU</option>
                  <!-- <option value="2" >KONGHUCU</option>
      
        <option value="2" >KEPERCAYAAN</option>
         -->
                </select>
              </div>
            </form>
          </div>

          <div class="col-md-2">
            <form [formGroup]="profileForm">
              <div class="position-relative mb-3">
                <label
                  for="exampleSelect"
                  class="form-label"
                  style="color: black"
                  >Marital</label
                >
                <select
                  formControlName="marital"
                  [(ngModel)]="marital"
                  id="exampleSelect"
                  class="form-select"
                >
                  <option value="">-PILIH-</option>
                  <option value="KAWIN">KAWIN</option>
                  <option value="PERNAH KAWIN">PERNAH KAWIN</option>
                  <option value="TIDAK KAWIN">TIDAK KAWIN</option>
                  <option value="TIDAK TAHU">TIDAK TAHU</option>
                  <option value="CERAI">CERAI</option>
                  <option value="CERAI MATI">CERAI MATI</option>
                </select>
              </div>
            </form>
          </div>

          <div class="col-md-2">
            <form [formGroup]="profileForm">
              <div class="position-relative mb-3">
                <label
                  for="exampleSelect"
                  class="form-label"
                  style="color: black"
                  >Pendidikan</label
                >
                <select
                  formControlName="pendidikan"
                  [(ngModel)]="pendidikan"
                  id="exampleSelect"
                  class="form-select"
                >
                  <option value="">-PILIH-</option>
                  <option
                    *ngFor="let p of pendidikanList$ | async"
                    [value]="p.nama_pendidikan"
                  >
                    {{ p.nama_pendidikan }}
                  </option>
                  <option value="TIDAK TAHU">TIDAK TAHU</option>
                </select>
              </div>
            </form>
          </div>

          <div class="col-md-3">
            <form [formGroup]="profileForm">
              <div class="position-relative mb-3">
                <label
                  for="exampleSelect"
                  class="form-label"
                  style="color: black"
                  >Pekerjaan</label
                >
                <select
                  formControlName="perkerjaan"
                  [(ngModel)]="perkerjaan"
                  id="exampleSelect"
                  class="form-select"
                >
                  <option value="">-PILIH-</option>
                  <option
                    *ngFor="let p of pekerjaanList$ | async"
                    [value]="p.nama_pekerjaan"
                  >
                    {{ p.nama_pekerjaan }}
                  </option>
                  <option value="TIDAK TAHU">TIDAK TAHU</option>
                </select>
              </div>
            </form>
          </div>
          <div class="col-md-3">
            <form [formGroup]="profileForm">
              <div class="position-relative mb-3">
                <label
                  for="exampleSelect"
                  class="form-label"
                  style="color: black"
                  >Golongan darah</label
                >
                <select
                  formControlName="golda"
                  [(ngModel)]="golda"
                  id="exampleSelect"
                  class="form-select"
                >
                  <option value="">-PILIH-</option>
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="O">O</option>
                  <option value="AB">AB</option>
                  <option value="Tidak Tahu">Tidak Tahu</option>
                </select>
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <div class="d-grid gap-2">
              <button
                class="mb-2 me-2 btn-pill btn btn-danger"
                [disabled]="!profileForm.valid"
                (click)="Hapus()"
              >
                Hapus
              </button>
            </div>
          </div>

          <div class="col-md-2">
            <div class="d-grid gap-2">
              <button
                class="mb-2 me-2 btn-pill btn btn-warning"
                (click)="Batal()"
              >
                Batal
              </button>
            </div>
          </div>

          <div class="col-md-3">
            <div class="d-grid gap-2" *ngIf="!showtombolpasien">
              <button
                class="mb-2 me-2 btn-pill btn btn-focus"
                [disabled]="!profileForm.valid"
                (click)="edituser()"
              >
                Edit
              </button>
            </div>
          </div>
          <div class="col-md-5">
            <div class="d-grid gap-2" *ngIf="showtombolpasien">
              <button
                class="mb-2 me-2 btn-pill btn btn-info"
                [disabled]="!profileForm.valid"
                (click)="simpan()"
              >
                Simpan
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- <button type="button" class="btn btn-info btn-lg"  routerLink="/dashboards/management">SIMPAN</button> -->
    </div>
  </div>

  <div class="col-md-5">
    <br />

    <div class="card main-card mb-3" style="height: 650px; overflow-y: scroll">
      <div class="card-header">
        <span style="color: #e83e8c">Cari Pasien</span>
        <br />

        <div class="row">
          <div class="col-md-6">
            <input
              type="text"
              class="form-control ms-2"
              (keyup)="caripass($event)"
            />
          </div>
          <div class="col-md-4">
            <select
              [(ngModel)]="caripas"
              style="font-size: 12px"
              class="form-select"
              (change)="onChange($event.target.value)"
            >
              <option value="2">Nama</option>
              <option value="3">Norm</option>
              <option value="4">Nik</option>
              <option value="5">NoHp</option>
            </select>
          </div>
          <div class="col-md-2">
            <b style="color: black">{{ totalpasien }}</b>
          </div>
        </div>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Norm</th>
            <th scope="col">Pasien</th>
            <th scope="col">Act</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let x of tpasien">
            <td style="font-size: 12px; color: black">
              {{ x.norm }}
            </td>
            <td style="font-size: 12px; color: black">
              {{ x.pasien }}
              <p style="font-size: 10px">{{ x.alamat }}</p>
            </td>
            <td>
              <div
                class="badge bg-pill bg-danger btn"
                (click)="
                  pilihpasien(
                    x.norm,
                    x.kdkelurahan,
                    x.pasien,
                    x.tgllahir,
                    x.jeniskelamin,
                    x.statusmarital,
                    x.agama,
                    x.alamat,
                    x.alamatsekarang,
                    x.hp,
                    x.kdasuransi,
                    x.noasuransi,
                    x.tandapengenal,
                    x.nopengenal,
                    x.tempatlahir,
                    x.golda,
                    x.aktif,
                    x.pendidikan,
                    x.perkerjaan,
                    x.subdis_name,
                    x.kdpanggil,
                    x.usia,
                    x
                  )
                "
              >
                PILIH
              </div>

              <div
                class="badge bg-pill bg-warning btn"
                (click)="gantinorm(x); shownorm(pindahnorm)"
              >
                Ganti Norm
              </div>

              <div
                class="badge bg-pill bg-info btn"
                (click)="
                  riwayatpas(
                    x.norm,
                    x.kdkelurahan,
                    x.pasien,
                    x.tgllahir,
                    x.jeniskelamin,
                    x.statusmarital,
                    x.agama,
                    x.alamat,
                    x.alamatsekarang,
                    x.hp,
                    x.kdasuransi,
                    x.noasuransi,
                    x.tandapengenal,
                    x.nopengenal,
                    x.tempatlahir,
                    x.golda,
                    x.aktif,
                    x.pendidikan,
                    x.perkerjaan,
                    x.subdis_name,
                    content2
                  )
                "
              >
                RIWAYAT
              </div>

              <button
                class="badge btn btn-success"
                style="font-size: 10px; padding: 5px 8px 5px 8px"
                (click)="kycPasien(x)"
                [disabled]="
                  x.tandapengenal != 'KTP' || x.nopengenal.length != 16
                "
              >
                KYC Satu Sehat
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-template #content2 let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h6 class="modal-title">Riwayat Periksa</h6>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="d('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <table
        class="align-middle mb-0 table table-borderless table-striped table-hover"
      >
        <thead>
          <tr>
            <th><b>Tgl Priksa</b></th>

            <th><b>Poliklinik</b></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of triwayat">
            <td style="font-size: 12px; color: black">
              {{ x.tglpriksa }}
            </td>

            <td style="font-size: 12px; color: black">
              {{ x.nampoli }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
  <ng-template #contentnorm let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h6 class="modal-title">
        Edit Nomor Rekam Medik <b> {{ norm }}</b>
      </h6>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="d('Cross click')"
      ></button>
    </div>

    <div class="modal-body">
      <input
        [(ngModel)]="normbaru"
        placeholder="Norm Baru"
        type="text"
        class="form-control"
      />
    </div>
    <div class="modal-footer">
      <button class="mb-2 me-2 btn-pill btn btn-info" (click)="ganti()">
        Ganti
      </button>
    </div>
  </ng-template>

  <ng-template #pindahnorm let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h6 class="modal-title">
        Pindah Nomor Rekam Medik <b> {{ norm }}</b>
      </h6>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="d('Cross click')"
      ></button>
    </div>

    <div class="modal-body">
      <label for="">Norm Lama</label>
      <input
        [(ngModel)]="norm"
        placeholder="Norm Lama"
        type="text"
        class="form-control"
      />
    </div>
    <div class="modal-body">
      <label for="">Norm Baru</label>
      <input
        [(ngModel)]="normbaru"
        placeholder="Norm Baru"
        (keyup)="caripas = 3; isShowPasienList = true; caripass($event)"
        type="text"
        class="form-control"
      />
    </div>

    <div class="modal-body" *ngIf="isShowPasienList">
      <table class="table table-hover">
        <tr *ngFor="let x of tpasien">
          <td style="font-size: 12px; color: black">
            {{ x.norm }}
          </td>
          <td style="font-size: 12px; color: black">
            {{ x.nopengenal }}
          </td>
          <td style="font-size: 12px; color: black">
            {{ x.pasien }}
            <p style="font-size: 10px">{{ x.alamat }}</p>
          </td>
          <td>
            <div
              class="badge bg-pill bg-danger btn"
              (click)="pilihnorm(x.norm)"
            >
              Pilih
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <button class="mb-2 me-2 btn-pill btn btn-info" (click)="updatenorm()">
        Ganti
      </button>
    </div>
  </ng-template>
</div>

<ng-template #content7 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title">Data Kepersetaan BPJS</h6>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="position-relative mb-3">
      <label for="exampleSelect" class="form-label" style="color: black"
        >Cari</label
      >
      <select
        [(ngModel)]="carinobpjs"
        id="exampleSelect"
        class="form-select"
        (change)="caribynikandno($event.target.value)"
      >
        <option value="noka">NOKA</option>
        <option value="nik">NIK</option>
      </select>
    </div>

    <div style="text-align: center" *ngIf="showloading">
      <div
        class="loader-wrapper d-flex justify-content-center align-items-center"
      >
        <div class="loader">
          <div class="ball-pulse">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
    </div>

    <p>Nama : {{ namabpjs }}</p>
    <p>Tgl Akhir Berlaku : {{ tglakhirberlaku }}</p>
    <p>Jenis kelas : {{ jeniskelas }}</p>
    <p>Peserta : {{ jenispeserta }}</p>
    <p>Prolanis : {{ pstProl }}</p>
    <p>Prb : {{ pstPrb }}</p>

    <p>FKTP : {{ kdprovider }} | {{ namaprovider }}</p>
    <p>Status Kartu : {{ ketaktif }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">
      PILIH
    </button>
  </div>
</ng-template>
