<form (ngSubmit)="submitFormJantung()" class="p-4">
  <div class="mb-3 form-pemeriksaan">
    <h5 class="fw-bold">Skrining Jantung (EKG - hanya untuk HIPERTENSI)</h5>
  </div>

  <div class="mb-3">
    <!-- Pemeriksaan EKG -->
    <label class="form-label">Pemeriksaan EKG:</label>
    <div *ngFor="let item of ekgOptions">
      <div class="form-check">
        <input
          type="radio"
          class="form-check-input"
          name="pemeriksaanEkg"
          [value]="item"
          [(ngModel)]="modelJantung.pemeriksaanEkg"
          [id]="item"
        />
        <label class="form-check-label" [for]="item">{{ item }}</label>
      </div>
    </div>

    <!-- Hasil EKG -->
    <label class="form-label mt-3">Hasil EKG:</label>
    <div class="form-check">
      <input
        type="radio"
        class="form-check-input"
        name="hasilEkg"
        value="Normal"
        [(ngModel)]="modelJantung.hasilEkg"
        id="hasil-normal"
      />
      <label class="form-check-label" for="hasil-normal">Normal</label>
    </div>
    <div class="form-check mb-3">
      <input
        type="radio"
        class="form-check-input"
        name="hasilEkg"
        value="Abnormal"
        [(ngModel)]="modelJantung.hasilEkg"
        id="hasil-abnormal"
      />
      <label class="form-check-label" for="hasil-abnormal">Abnormal</label>
    </div>
  </div>

  <button class="btn btn-primary mt-3 form-pemeriksaan-pkg">
    <span *ngIf="!isLoading"> Submit </span>
    <span *ngIf="isLoading">
      <span class="spinner-border spinner-border-sm me-1"></span>
      Loading...
    </span>
  </button>
</form>
