<div class="row">
    <div class="col-6 mt-3">
        <label for="cari_vaccine" class="form-label">Cari Vaccine</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <select [(ngModel)]="searchVaccineBy" class="form-control">
                <option value="terminology_name">Nama Vaccine</option>
                <option value="terminology_code">Kode Vaccine</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="searchVaccineText" (keyup)="cariVaccine()" id="cari_vaccine" placeholder="{{ searchVaccineText }}">
                <div class="input-group-append">
                    <a href="javascript:;" class="btn btn-danger" (click)="deletedItem.emit()">x</a>
                </div>
            </div>
        </div>
        <select multiple class="form-control" id="exampleFormControlSelect2" *ngIf="vaccineList.length > 0" >
            <option *ngFor="let item of vaccineList" (click)="pilihVaccine(item)">{{ item.terminology_code }} : {{ item.terminology_name }}</option>
        </select>
    </div>
</div>