<form (ngSubmit)="submitForm()" class="p-4">
  <div class="mb-3 form-pemeriksaan">
    <h3>Kanker Usus (usia &gt; 40 tahun)</h3>
  </div>

  <!-- Riwayat keluarga kanker usus -->
  <div class="mb-3">
    <label class="form-label fw-bold"
      >Ada keluarga menderita kanker usus/kolorektal?</label
    >
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="riwayatKeluargaUsus"
        value="true"
        [(ngModel)]="model.riwayatKeluargaUsus"
        id="riwayat-ya"
      />
      <label class="form-check-label" for="riwayat-ya">Ya</label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="riwayatKeluargaUsus"
        value="false"
        [(ngModel)]="model.riwayatKeluargaUsus"
        id="riwayat-tidak"
      />
      <label class="form-check-label" for="riwayat-tidak">Tidak</label>
    </div>
  </div>

  <!-- Merokok -->
  <div class="mb-4">
    <label class="form-label fw-bold">Apakah Anda merokok?</label>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="merokokUsus"
        value="true"
        [(ngModel)]="model.merokokUsus"
        id="merokok-ya"
      />
      <label class="form-check-label" for="merokok-ya">Ya</label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="merokokUsus"
        value="false"
        [(ngModel)]="model.merokokUsus"
        id="merokok-tidak"
      />
      <label class="form-check-label" for="merokok-tidak">Tidak</label>
    </div>
  </div>

  <button class="btn btn-primary mt-3 form-pemeriksaan-pkg">
    <span *ngIf="!isLoading"> Submit </span>
    <span *ngIf="isLoading">
      <span class="spinner-border spinner-border-sm me-1"></span>
      Loading...
    </span>
  </button>
</form>
