<div>
    <div class="app-inner-layout" style="margin: 0 auto; padding:20px">
      <div class="app-inner-layout__header-boxed p-0">
        <div class="app-inner-layout__header page-title-icon-rounded text-white bg-royal mb-4">
          <div class="app-page-title">
            <div class="page-title-wrapper">
              <div class="page-title-heading">
                <div class="page-title-icon"><b style="color:black;">{{ patientData.noantrian }}</b></div>
                <div>
                  {{ patientData.norm }} | {{ patientData.pasien }}
                  <div style="font-size: 14px;">{{ patientData.umur }} | {{ patientData.tgllahir }} | <span class="badge rounded-pill bg-light">{{ patientData.jeniskelamin }}</span> </div>
                  <div style="font-size: 14px;">{{ patientData.nampoli }} | {{ patientData.costumer }}</div>
                  <div style="font-size: 14px;">{{ patientData.namdokter }}</div>
                  <div style="font-size: 14px;">{{ patientData.alamat }}</div>
                </div>
              </div>
              <div class="page-title-actions">
                <button class="btn btn-info btn-icon" routerLink="/master/satusehat-mtbm">
                  <span class="pe-2 opacity-7">
                    <fa-icon [icon]="faCog"></fa-icon>
                  </span>
                  Kembali
                </button>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link {{activeTab == 'form-ibu-ayah' ? 'active' : '' }}" href="javascript:;" (click)="openTab('form-ibu-ayah')">Form Ibu Ayah</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link {{activeTab == 'form-observasi-mtbm' ? 'active' : '' }}" href="javascript:;" (click)="openTab('form-observasi-mtbm')">Form Observasi MTBM</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link {{ activeTab == 'form-diagnosa' ? 'active' : '' }}" href="javascript:;" (click)="openTab('form-diagnosa')">Form Diagnosa</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link {{ activeTab == 'form-imunisasi' ? 'active' : '' }}" href="javascript:;" (click)="openTab('form-imunisasi')">Form Imunisasi</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {{ activeTab == 'form-tindakan' ? 'active' : '' }}" href="javascript:;" (click)="openTab('form-tindakan')">Form Tindakan</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {{ activeTab == 'form-tindak-lanjut' ? 'active' : '' }}" href="javascript:;" (click)="openTab('form-tindak-lanjut')">Form Tindak Lanjut</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {{ activeTab == 'form-meninggalkan-faskes' ? 'active' : '' }}" href="javascript:;" (click)="openTab('form-meninggalkan-faskes')">Form Meninggalkan Faskes</a>
          </li>
        </ul>
      </div>
    
      <div class="mb-3" *ngIf="activeTab == 'form-ibu-ayah'">
        <div class="container">
          <form [formGroup]="formIbuAyah">
            <!-- Data Ibu -->
            <div class="row">
              <div class="col-12 my-3">
                <h3>Data Ibu</h3>
              </div>
              
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="nama_ibu" class="form-label">Nama Ibu</label>
                  <input type="text" class="form-control" id="nama_ibu" formControlName="nama_ibu">
                </div>
              </div>
              
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="nik_ibu" class="form-label">NIK Ibu</label>
                  <input type="text" class="form-control" id="nik_ibu" formControlName="nik_ibu">
                </div>
              </div>
      
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="tl_ibu" class="form-label">Tanggal Lahir Ibu</label>
                  <input type="date" class="form-control" id="tl_ibu" formControlName="tl_ibu">
                </div>
              </div>
      
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="hp_ibu" class="form-label">No. HP Ibu</label>
                  <input type="text" class="form-control" id="hp_ibu" formControlName="hp_ibu">
                </div>
              </div>
      
              <div class="col-12">
                <div class="position-relative mb-3">
                  <label for="alamat_jalan_ibu" class="form-label">Alamat Ibu</label>
                  <textarea class="form-control" id="alamat_jalan_ibu" formControlName="alamat_jalan_ibu"></textarea>
                </div>
              </div>
      
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="province_id_ibu" class="form-label">Provinsi Ibu</label>
                  <app-master-province
                    [provinceId]="formIbuAyah.value.province_id_ibu"
                    (provinceOutput)="formIbuAyah.value.province_id_ibu = $event;">
                  </app-master-province>
                </div>
              </div>
      
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="city_id_ibu" class="form-label">Kota Ibu</label>
                  <app-master-city
                    [cityId]="formIbuAyah.value.city_id_ibu"
                    [provinceId]="formIbuAyah.value.province_id_ibu"
                    (cityOutput)="formIbuAyah.value.city_id_ibu = $event">
                  </app-master-city>
                </div>
              </div>
      
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="district_id_ibu" class="form-label">Kecamatan Ibu</label>
                  <app-master-district
                    [districtId]="formIbuAyah.value.district_id_ibu"
                    [cityId]="formIbuAyah.value.city_id_ibu"
                    (districtOutput)="formIbuAyah.value.district_id_ibu = $event">
                  </app-master-district>
                </div>
              </div>
      
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="village_id_ibu" class="form-label">Kelurahan Ibu</label>
                  <app-master-sub-district
                    [subdistrictId]="formIbuAyah.value.village_id_ibu"
                    [districtId]="formIbuAyah.value.district_id_ibu"
                    (subDistrictOutput)="formIbuAyah.value.village_id_ibu = $event">
                  </app-master-sub-district>
                </div>
              </div>
      
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="rt_ibu" class="form-label">RT Ibu</label>
                  <input type="text" class="form-control" id="rt_ibu" formControlName="rt_ibu">
                </div>
              </div>
      
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="rw_ibu" class="form-label">RW Ibu</label>
                  <input type="text" class="form-control" id="rw_ibu" formControlName="rw_ibu">
                </div>
              </div>
      
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="postal_code_ibu" class="form-label">Kode Pos Ibu</label>
                  <input type="text" class="form-control" id="postal_code_ibu" formControlName="postal_code_ibu">
                </div>
              </div>
      
              <!-- Data Ayah -->
              <div class="col-12 my-3">
                <h3>Data Ayah</h3>
              </div>
      
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="nama_ayah" class="form-label">Nama Ayah</label>
                  <input type="text" class="form-control" id="nama_ayah" formControlName="nama_ayah">
                </div>
              </div>
      
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="nik_ayah" class="form-label">NIK Ayah</label>
                  <input type="text" class="form-control" id="nik_ayah" formControlName="nik_ayah">
                </div>
              </div>
      
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="tl_ayah" class="form-label">Tanggal Lahir Ayah</label>
                  <input type="date" class="form-control" id="tl_ayah" formControlName="tl_ayah">
                </div>
              </div>
      
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="hp_ayah" class="form-label">No. HP Ayah</label>
                  <input type="text" class="form-control" id="hp_ayah" formControlName="hp_ayah">
                </div>
              </div>
      
              <div class="col-12">
                <div class="position-relative mb-3">
                  <label for="alamat_jalan_ayah" class="form-label">Alamat Ayah</label>
                  <textarea class="form-control" id="alamat_jalan_ayah" formControlName="alamat_jalan_ayah"></textarea>
                </div>
              </div>
      
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="province_id_ayah" class="form-label">Provinsi Ayah</label>
                  <app-master-province
                    [provinceId]="formIbuAyah.value.province_id_ayah"
                    (provinceOutput)="formIbuAyah.value.province_id_ayah = $event">
                  </app-master-province>
                </div>
              </div>
      
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="city_id_ayah" class="form-label">Kota Ayah</label>
                  <app-master-city
                    [cityId]="formIbuAyah.value.city_id_ayah"
                    [provinceId]="formIbuAyah.value.province_id_ayah"
                    (cityOutput)="formIbuAyah.value.city_id_ayah = $event">
                  </app-master-city>
                </div>
              </div>
      
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="district_id_ayah" class="form-label">Kecamatan Ayah</label>
                  <app-master-district
                    [districtId]="formIbuAyah.value.district_id_ayah"
                    [cityId]="formIbuAyah.value.city_id_ayah"
                    (districtOutput)="formIbuAyah.value.district_id_ayah = $event">
                  </app-master-district>
                </div>
              </div>
      
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="village_id_ayah" class="form-label">Kelurahan Ayah</label>
                  <app-master-sub-district
                    [subdistrictId]="formIbuAyah.value.village_id_ayah"
                    [districtId]="formIbuAyah.value.district_id_ayah"
                    (subDistrictOutput)="formIbuAyah.value.village_id_ayah = $event">
                  </app-master-sub-district>
                </div>
              </div>
      
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="rt_ayah" class="form-label">RT Ayah</label>
                  <input type="text" class="form-control" id="rt_ayah" formControlName="rt_ayah">
                </div>
              </div>
      
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="rw_ayah" class="form-label">RW Ayah</label>
                  <input type="text" class="form-control" id="rw_ayah" formControlName="rw_ayah">
                </div>
              </div>
      
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="postal_code_ayah" class="form-label">Kode Pos Ayah</label>
                  <input type="text" class="form-control" id="postal_code_ayah" formControlName="postal_code_ayah">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="mb-3" *ngIf="activeTab == 'form-observasi-mtbm'">
        <div class="container">
          <div class="row">
            <div class="col-12 my-3">
              <h3>Keluhan</h3>
            </div>
            <app-master-diagnosa
              [searchDiagnosaText]="formKeluhan.value.condition_note"
              (selectedItem)="
              formKeluhan.controls['condition_code'].setValue($event.kddiagnosa);
              formKeluhan.controls['condition_note'].setValue($event.diagnosa);
              ">
            </app-master-diagnosa>
          </div>
          
          <form [formGroup]="formObservation">
            <!-- Observasi -->
            <div class="row">
              <div class="col-12 my-3">
                <h3>Observasi</h3>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="berat_badan" class="form-label">Berat Badan (g)</label>
                  <input type="text" class="form-control" id="berat_badan" formControlName="berat_badan">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="tinggi_badan" class="form-label">Tinggi Badan (cm)</label>
                  <input type="text" class="form-control" id="tinggi_badan" formControlName="tinggi_badan">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="lingkar_lengan_atas" class="form-label">Lingkar Lengan Atas (cm)</label>
                  <input type="text" class="form-control" id="lingkar_lengan_atas" formControlName="lingkar_lengan_atas">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="lingkar_kepala" class="form-label">Lingkar Kepala (cm)</label>
                  <input type="text" class="form-control" id="lingkar_kepala" formControlName="lingkar_kepala">
                </div>
              </div>
            </div>
          </form>
          
          <form [formGroup]="formObservationTandaVital">
            <!-- Tanda Vital -->
            <div class="row">
              <div class="col-12 my-3">
                <h3>Tanda Vital</h3>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="sistolik" class="form-label">Sistolik</label>
                  <input type="text" class="form-control" id="sistolik" formControlName="sistolik">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="diastolik" class="form-label">Diastolik</label>
                  <input type="text" class="form-control" id="diastolik" formControlName="diastolik">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="suhu_tubuh" class="form-label">Suhu Tubuh (°C)</label>
                  <input type="text" class="form-control" id="suhu_tubuh" formControlName="suhu_tubuh">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="denyut_jantung" class="form-label">Denyut Jantung</label>
                  <input type="text" class="form-control" id="denyut_jantung" formControlName="denyut_jantung">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="tingkat_kesadaran" class="form-label">Tingkat Kesadaran</label>
                  <input type="text" class="form-control" id="tingkat_kesadaran" formControlName="tingkat_kesadaran">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="pernapasan" class="form-label">Pernapasan</label>
                  <input type="text" class="form-control" id="pernapasan" formControlName="pernapasan">
                </div>
              </div>
            </div>
          </form>

          <form [formGroup]="formObservationInfeksi">
            <!-- Observasi Infeksi -->
            <div class="row">
              <div class="col-12 my-3">
                <h3>Observasi Infeksi</h3>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="laju_pernapasan" class="form-label">Laju Pernapasan</label>
                  <input type="text" class="form-control" id="laju_pernapasan" formControlName="laju_pernapasan">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="saturasi_tangan_kanan" class="form-label">Saturasi Tangan Kanan</label>
                  <input type="text" class="form-control" id="saturasi_tangan_kanan" formControlName="saturasi_tangan_kanan">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="saturasi_kaki_kiri" class="form-label">Saturasi Kaki Kiri</label>
                  <input type="text" class="form-control" id="saturasi_kaki_kiri" formControlName="saturasi_kaki_kiri">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="perbedaan_saturasi" class="form-label">Perbedaan Saturasi</label>
                  <input type="text" class="form-control" id="perbedaan_saturasi" formControlName="perbedaan_saturasi">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="tanda_infeksi" class="form-label">Tanda Infeksi</label>
                  <input type="text" class="form-control" id="tanda_infeksi" formControlName="tanda_infeksi">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="klasifikasi_infeksi" class="form-label">Klasifikasi Infeksi</label>
                  <input type="text" class="form-control" id="klasifikasi_infeksi" formControlName="klasifikasi_infeksi">
                </div>
              </div>
            </div>
          </form>
          
          <form [formGroup]="formObservationIkterus">
            <!-- Observasi Ikterus -->
            <div class="row">
              <div class="col-12 my-3">
                <h3>Observasi Ikterus</h3>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="kondisi" class="form-label">Kondisi</label>
                  <input type="text" class="form-control" id="kondisi" formControlName="kondisi">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="umur_terkena" class="form-label">Umur Terkena</label>
                  <input type="text" class="form-control" id="umur_terkena" formControlName="umur_terkena">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="ikterus" class="form-label">Ikterus</label>
                  <input type="text" class="form-control" id="ikterus" formControlName="ikterus">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="klasifikasi_ikterus" class="form-label">Klasifikasi Ikterus</label>
                  <input type="text" class="form-control" id="klasifikasi_ikterus" formControlName="klasifikasi_ikterus">
                </div>
              </div>
            </div>
          </form>
          
          <form [formGroup]="formObservationDiare">
            <!-- Observasi Diare -->
            <div class="row">
              <div class="col-12 my-3">
                <h3>Observasi Diare</h3>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="kondisi" class="form-label">Kondisi</label>
                  <input type="text" class="form-control" id="kondisi" formControlName="kondisi">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="tanda_diare" class="form-label">Tanda Diare</label>
                  <input type="text" class="form-control" id="tanda_diare" formControlName="tanda_diare">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="klasifikasi_diare" class="form-label">Klasifikasi Diare</label>
                  <input type="text" class="form-control" id="klasifikasi_diare" formControlName="klasifikasi_diare">
                </div>
              </div>
            </div>
          </form>
          
          <form [formGroup]="formObservationHIV">
            <!-- Observasi HIV -->
            <div class="row">
              <div class="col-12 my-3">
                <h3>Observasi HIV</h3>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="riwayat_hiv_ibu" class="form-label">Riwayat HIV Ibu</label>
                  <input type="text" class="form-control" id="riwayat_hiv_ibu" formControlName="riwayat_hiv_ibu">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="serologis_hiv_ibu" class="form-label">Serologis HIV Ibu</label>
                  <input type="text" class="form-control" id="serologis_hiv_ibu" formControlName="serologis_hiv_ibu">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="riwayat_hiv_anak" class="form-label">Riwayat HIV Anak</label>
                  <input type="text" class="form-control" id="riwayat_hiv_anak" formControlName="riwayat_hiv_anak">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="tes_virologis" class="form-label">Tes Virologis</label>
                  <input type="text" class="form-control" id="tes_virologis" formControlName="tes_virologis">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="tes_serologis" class="form-label">Tes Serologis</label>
                  <input type="text" class="form-control" id="tes_serologis" formControlName="tes_serologis">
                </div>
              </div>
              <div class="col-12 my-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="dapat_asi" formControlName="dapat_asi">
                  <label class="form-check-label" for="dapat_asi">
                    <strong>Dapat ASI</strong>
                  </label>
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="periksa_hiv" class="form-label">Periksa HIV</label>
                  <input type="text" class="form-control" id="periksa_hiv" formControlName="periksa_hiv">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="pemberian_profilaksis" class="form-label">Pemberian Profilaksis</label>
                  <input type="text" class="form-control" id="pemberian_profilaksis" formControlName="pemberian_profilaksis">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="klasifikasi_hiv" class="form-label">Klasifikasi HIV</label>
                  <input type="text" class="form-control" id="klasifikasi_hiv" formControlName="klasifikasi_hiv">
                </div>
              </div>
            </div>
          </form>
          
          <!-- Observasi ASI -->
          <form [formGroup]="formObservationAsi">
            <div class="row">
              <div class="col-12 my-3">
                <h3>Observasi ASI</h3>
              </div>
              
              <div class="col-12 my-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="diberi_asi" formControlName="diberi_asi">
                  <label class="form-check-label" for="diberi_asi">
                    <strong>Diberi ASI</strong>
                  </label>
                </div>
              </div>

              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="dalam_sehari" class="form-label">Jumlah Pemberian ASI dalam Sehari</label>
                  <input type="text" class="form-control" id="dalam_sehari" formControlName="dalam_sehari">
                </div>
              </div>
              <div class="col-12 my-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="selain_asi" formControlName="selain_asi">
                  <label class="form-check-label" for="selain_asi">
                    <strong>Pemberian Selain ASI</strong>
                  </label>
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="bb_menurut_umur" class="form-label">Berat Badan Menurut Umur</label>
                  <input type="text" class="form-control" id="bb_menurut_umur" formControlName="bb_menurut_umur">
                </div>
              </div>
            </div>
          </form>

          <!-- Observasi Minuman Lain -->
          <form [formGroup]="formObservationMinuman">
            <div class="row">
              <div class="col-12 my-3">
                <h3>Observasi Minuman Lain</h3>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="merk_susu" class="form-label">Merk Susu</label>
                  <input type="text" class="form-control" id="merk_susu" formControlName="merk_susu">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="dalam_sehari" class="form-label">Jumlah dalam Sehari</label>
                  <input type="text" class="form-control" id="dalam_sehari" formControlName="dalam_sehari">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="jumlah_yg_diberikan" class="form-label">Jumlah yang Diberikan</label>
                  <input type="text" class="form-control" id="jumlah_yg_diberikan" formControlName="jumlah_yg_diberikan">
                </div>
              </div>
              
              <div class="col-12 my-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="cara_memberikan_sdh_benar" formControlName="cara_memberikan_sdh_benar">
                  <label class="form-check-label" for="cara_memberikan_sdh_benar">
                    <strong>Cara Pemberian Sudah Benar</strong>
                  </label>
                </div>
              </div>
            </div>
          </form>

          <!-- Pemeriksaan Status Vitamin K -->
          <form [formGroup]="formPemeriksaanStatusVitK">
            <div class="row">
              <div class="col-12 my-3">
                <h3>Pemeriksaan Status Vitamin K</h3>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="procedure_code" class="form-label">Kode Prosedur</label>
                  <input type="text" class="form-control" id="procedure_code" formControlName="procedure_code">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="procedure_name" class="form-label">Nama Prosedur</label>
                  <input type="text" class="form-control" id="procedure_name" formControlName="procedure_name">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="observation_code" class="form-label">Kode Observasi</label>
                  <input type="text" class="form-control" id="observation_code" formControlName="observation_code">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="observation_name" class="form-label">Nama Observasi</label>
                  <input type="text" class="form-control" id="observation_name" formControlName="observation_name">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      
      <div class="mb-3" *ngIf="activeTab == 'form-diagnosa'">
        <div class="container">
          <div class="row">
            <div class="col-12 my-3">
              <h3>Primary</h3>
            </div>
            <app-master-diagnosa
              [searchDiagnosaText]="formDiagnosa.value.primary_note"
              (selectedItem)="
              formDiagnosa.controls['primary_code'].setValue($event.kddiagnosa);
              formDiagnosa.controls['primary_note'].setValue($event.diagnosa);
              ">
            </app-master-diagnosa>
          </div>

          <div class="row">
            <div class="col-12 my-3">
              <h3>Secondary</h3>
            </div>
            <app-master-diagnosa
              [searchDiagnosaText]="formDiagnosa.value.secondary_note"
              (selectedItem)="
              formDiagnosa.controls['secondary_code'].setValue($event.kddiagnosa);
              formDiagnosa.controls['secondary_note'].setValue($event.diagnosa);
              ">
            </app-master-diagnosa>
          </div>
        </div>
      </div>
      
      <div class="mb-3" *ngIf="activeTab == 'form-imunisasi'">
        <div class="container">
          <form [formGroup]="formImunisasi">
            <!-- Keluhan -->
            <div class="row">
              <div class="col-12 my-3">
                <h3>Imunisasi</h3>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="vaccine_code" class="form-label">Kode Imunisasi</label>
                  <input type="text" class="form-control" id="vaccine_code" formControlName="vaccine_code">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="vaccine_note" class="form-label">Catatan Imunisasi</label>
                  <input type="text" class="form-control" id="vaccine_note" formControlName="vaccine_note">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 my-3">
                <h3>Alansan Imunisasi</h3>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="reason_code" class="form-label">Kode Alasan</label>
                  <input type="text" class="form-control" id="reason_code" formControlName="reason_code">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="reason_note" class="form-label">Catatan Alansan</label>
                  <input type="text" class="form-control" id="reason_note" formControlName="reason_note">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      
      <div class="mb-3" *ngIf="activeTab == 'form-tindakan'">
        <div class="container">
          <form [formGroup]="formTindakan">
            <div class="row">
              <div class="col-12 my-3">
                <h3>X-Ray</h3>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="xray_note" class="form-label">X-Ray Note</label>
                  <input type="text" class="form-control" id="xray_note" formControlName="xray_note">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 my-3">
                <h3>Konseling</h3>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="terapetik_note" class="form-label">Catatan Terapi</label>
                  <input type="text" class="form-control" id="terapetik_note" formControlName="terapetik_note">
                </div>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="counselling_note" class="form-label">Catatan Konseling</label>
                  <input type="text" class="form-control" id="counselling_note" formControlName="counselling_note">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      
      <div class="mb-3" *ngIf="activeTab == 'form-tindak-lanjut'">
        <div class="container">
          <form [formGroup]="formTindakLanjut">
            <div class="row">
              <div class="col-12 my-3">
                <h3>Tindak Lanjut</h3>
              </div>
              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="instruksi" class="form-label">Instruksi Tindak Lanjut</label>
                  <textarea class="form-control" id="instruksi" formControlName="instruksi"></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      
      <div class="mb-3" *ngIf="activeTab == 'form-meninggalkan-faskes'">
        <div class="container">
          <form [formGroup]="formMeninggalkanFaskes">
            <div class="row">
              <div class="col-12 my-3">
                <h3>Kondisi Saat Keluar Faskes</h3>
              </div>
            </div>
            <app-master-diagnosa
              [searchDiagnosaText]="formMeninggalkanFaskes.value.diagnostic_name"
              (selectedItem)="
              formMeninggalkanFaskes.controls['diagnostic_code'].setValue($event.kddiagnosa);
              formMeninggalkanFaskes.controls['diagnostic_name'].setValue($event.diagnosa);
              ">
            </app-master-diagnosa>

            <div class="row">

              <div class="col-12 my-3">
                <div class="position-relative mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="pasien-meninggal" formControlName="pasien_meninggal">
                    <label class="form-check-label" for="pasien-meninggal">Pasien Meninggal</label>
                  </div>
                </div>
              </div>

              <div class="col-6" *ngIf="formMeninggalkanFaskes.value.pasien_meninggal == true">
                <div class="position-relative mb-3">
                  <label for="exampleCity" class="form-label">Waktu Kematian</label>
                  <input type="date" class="form-control" formControlName="waktu_meninggal">
                </div>
              </div>
            </div>
          </form>

          <form [formGroup]="formUpdateKunjungan">
            <div class="row">
              <div class="col-12 my-3">
                <h3>Informasi Rujukan</h3>
              </div>

              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="start_period" class="form-label">Start Period</label>
                  <input type="date" class="form-control" id="start_period" formControlName="start_period">
                </div>
              </div>

              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="end_period" class="form-label">End Period</label>
                  <input type="date" class="form-control" id="end_period" formControlName="end_period">
                </div>
              </div>

              <div class="col-6">
                <div class="position-relative mb-3">
                  <label for="disposition_code" class="form-label">Disposition Code</label>
                  <input type="text" class="form-control" id="disposition_code" formControlName="disposition_code">
                </div>
              </div>

              <div class="col-12">
                <div class="position-relative mb-3">
                  <label for="hospitalization_text" class="form-label">Hospitalization Text</label>
                  <textarea class="form-control" id="hospitalization_text" formControlName="hospitalization_text"></textarea>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
  
      <div class="mb-3">
        <div class="container">
          <div class="row">
            <div class="col-12" align="right">
              <button class="btn btn-success mx-1" (click)="simpan()" [disabled]="isDisabledFormAnc">
                <span class="pe-2 opacity-7">
                  <fa-icon [icon]="faSave"></fa-icon>
                </span>
                SIMPAN {{ activeTab.replace('-',' ').toUpperCase() }}
              </button>
              <button class="btn btn-danger btn-icon" routerLink="/master/satusehat-mtbs">
                <span class="pe-2 opacity-7">
                  <fa-icon [icon]="faCog"></fa-icon>
                </span>
                KEMBALI
              </button>
            </div>
          </div>
        </div>
      </div>
      
    </div>
</div>
  
  