<form (ngSubmit)="submitFormGigi()" class="p-4">
  <div class="mb-3">
    <h5 class="fw-bold">Skrining Gigi - Dewasa ≥ 25 tahun</h5>

    <!-- Gigi Karies -->
    <label class="form-label">Gigi Karies:</label>
    <div class="form-check">
      <input
        type="radio"
        class="form-check-input"
        name="gigiKaries"
        value="Ya"
        [(ngModel)]="modelGigi.gigiKaries"
        id="gigi-karies-ya"
      />
      <label class="form-check-label" for="gigi-karies-ya">Ya</label>
    </div>
    <div class="form-check mb-3">
      <input
        type="radio"
        class="form-check-input"
        name="gigiKaries"
        value="Tidak"
        [(ngModel)]="modelGigi.gigiKaries"
        id="gigi-karies-tidak"
      />
      <label class="form-check-label" for="gigi-karies-tidak">Tidak</label>
    </div>

    <!-- Gigi Hilang -->
    <label class="form-label">Gigi Hilang:</label>
    <div class="form-check">
      <input
        type="radio"
        class="form-check-input"
        name="gigiHilang"
        value="Ya"
        [(ngModel)]="modelGigi.gigiHilang"
        id="gigi-hilang-ya"
      />
      <label class="form-check-label" for="gigi-hilang-ya">Ya</label>
    </div>
    <div class="form-check mb-3">
      <input
        type="radio"
        class="form-check-input"
        name="gigiHilang"
        value="Tidak"
        [(ngModel)]="modelGigi.gigiHilang"
        id="gigi-hilang-tidak"
      />
      <label class="form-check-label" for="gigi-hilang-tidak">Tidak</label>
    </div>
  </div>

  <button type="submit" class="btn btn-primary w-100">Submit</button>
</form>
