<form (ngSubmit)="submitForm()" class="p-4">
  <div class="mb-3 form-pemeriksaan">
    <h3>Tekanan & Gula Darah</h3>
  </div>

  <!-- Tekanan darah tinggi -->
  <div class="mb-3">
    <label class="form-label fw-bold"
      >Pernah dinyatakan tekanan darah tinggi?</label
    >
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="tekananDarahTinggi"
        value="true"
        [(ngModel)]="model.tekananDarahTinggi"
        id="tekanan-ya"
      />
      <label class="form-check-label" for="tekanan-ya">Ya</label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="tekananDarahTinggi"
        value="false"
        [(ngModel)]="model.tekananDarahTinggi"
        id="tekanan-tidak"
      />
      <label class="form-check-label" for="tekanan-tidak">Tidak</label>
    </div>
  </div>

  <!-- Diabetes -->
  <div class="mb-4">
    <label class="form-label fw-bold"
      >Pernah dinyatakan diabetes/kencing manis?</label
    >
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="diabetes"
        value="true"
        [(ngModel)]="model.diabetes"
        id="diabetes-ya"
      />
      <label class="form-check-label" for="diabetes-ya">Ya</label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="diabetes"
        value="false"
        [(ngModel)]="model.diabetes"
        id="diabetes-tidak"
      />
      <label class="form-check-label" for="diabetes-tidak">Tidak</label>
    </div>
  </div>

  <button class="btn btn-primary mt-3 form-pemeriksaan-pkg">
    <span *ngIf="!isLoading"> Submit </span>
    <span *ngIf="isLoading">
      <span class="spinner-border spinner-border-sm me-1"></span>
      Loading...
    </span>
  </button>
</form>
