<div class="bg-dark p-3 print-bg">
  <div class="bg-white p-2 m-auto mb-3 print-hidden" style="width: 100%;">
    <h3 class="text-center">
      <button (click)="print()" class="btn btn-primary print-hide pull-left">Print</button>
      PRINT PREVIEW
    </h3>
  </div>

  <div class="cust-paper-lanscape font-formal-wrap">
    <h3 class="text-center">
      BUKU BANTUAN HASIL PELAYANAN KONTRASEPSI
      <!-- <span><br>{{page.tanggal_mulai}} - {{page.tanggal_akhir}}</span>
      <span *ngIf="page.dokter" style="text-transform: uppercase;"><br>DOKTER : {{page.dokter}}</span>
      <span *ngIf="page.nama" style="text-transform: uppercase;"><br>PASIEN : {{page.nama}}</span> -->
    </h3>
    <br>
    <h5>
    <table class="d-inline" style="text-transform: uppercase;">
      <tbody>
        <tr [class]="page.dokter ? '' : 'd-none'">
          <td>DOKTER </td>
          <td> : {{page.dokter}}</td>
        </tr>
        <tr [class]="page.month ? '' : 'd-none'">
          <td>BULAN / TAHUN </td>
          <td> : {{page.month}} / {{page.year}}</td>
        </tr>
        <tr [class]="page.nik ? '' : 'd-none'">
          <td>NIK </td>
          <td> : {{page.nik}}</td>
        </tr>
        <tr [class]="page.nama ? '' : 'd-none'">
          <td>Nama </td>
          <td> : {{page.nama}}</td>
        </tr>
      </tbody>
    </table>
    </h5>
    <br>

    <div>
      <div>

        <table class="table table-bordered">
          <thead class="">
            <tr>
              <th rowspan="2">No</th>
              <th rowspan="2">Tanggal</th>
              <th rowspan="2">Nama</th>
              <th rowspan="2">Alamat</th>
              <th rowspan="2">Umur Istri</th>
              <th rowspan="2">Jumlah anak hidup</th>
              <th rowspan="2">Pemberian Informed Concent (Untuk IUD, MOW, MOP & Implant)</th>
              <th colspan="7">Peserta KB Baru Menurut Metode Kontrasepsi</th>
              <th rowspan="2">Peserta KB Baru Pasca Persalinan / Pasca Keguguran</th>
              <th colspan="2">Pencabutan</th>
              <th colspan="2">Pemasangan Ulang</th>
              <th colspan="3">Pemberian Kontrasepsi Ulang</th>
              <th rowspan="2">Keterangan</th>
              <!-- <th rowspan="2">Aksi</th> -->
            </tr>
            <tr>
              <th>IUD</th>
              <th>MOW</th>
              <th>MOP</th>
              <th>Kondom</th>
              <th>Implant</th>
              <th>Suntikan</th>
              <th>Pil</th>
              <th>IUD</th>
              <th>Implant</th>
              <th>IUD</th>
              <th>Implant</th>
              <th>Kondom</th>
              <th>Suntikan</th>
              <th>Pil</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let val of ktssList; let i = index">
              <td>{{i+1}}</td>
              <td>{{val.tanggal}}</td>
              <td>{{val.nama}}</td>
              <td>{{val.alamat}}</td>
              <td>{{val.umur}}</td>
              <td>{{val.jml_anak_hidup}}</td>
              <td><i class="fa fa-check" [class]="val.pemberian_informed_content == '1' ? '' : 'd-none'" title="Ya"></i></td>
              <td><i class="fa fa-check" [class]="val.iud == '1' ? '' : 'd-none'" title="iud"></i></td>
              <td><i class="fa fa-check" [class]="val.mow == '1' ? '' : 'd-none'" title="mow"></i></td>
              <td><i class="fa fa-check" [class]="val.mop == '1' ? '' : 'd-none'" title="mop"></i></td>
              <td><i class="fa fa-check" [class]="val.kondom == '1' ? '' : 'd-none'" title="kondom"></i></td>
              <td><i class="fa fa-check" [class]="val.implant == '1' ? '' : 'd-none'" title="implant"></i></td>
              <td><i class="fa fa-check" [class]="val.suntikan == '1' ? '' : 'd-none'" title="suntikan"></i></td>
              <td><i class="fa fa-check" [class]="val.pil == '1' ? '' : 'd-none'" title="pil"></i></td>
              <td><i class="fa fa-check" [class]="val.peserta_kb_baru == '1' ? '' : 'd-none'" title="Ya"></i></td>
              <td><i class="fa fa-check" [class]="val.pencabutan_iud == '1' ? '' : 'd-none'" title="iud"></i></td>
              <td><i class="fa fa-check" [class]="val.pencabutan_implant == '1' ? '' : 'd-none'" title="implant"></i></td>
              <td><i class="fa fa-check" [class]="val.pasang_ulang_iud == '1' ? '' : 'd-none'" title="iud"></i></td>
              <td><i class="fa fa-check" [class]="val.pasang_ulang_implant == '1' ? '' : 'd-none'" title="implant"></i></td>
              <td><i class="fa fa-check" [class]="val.kontrasepsi_ulang_kondom == '1' ? '' : 'd-none'" title="kondom"></i></td>
              <td><i class="fa fa-check" [class]="val.kontrasepsi_ulang_suntikan == '1' ? '' : 'd-none'" title="suntikan"></i></td>
              <td><i class="fa fa-check" [class]="val.kontrasepsi_ulang_pil == '1' ? '' : 'd-none'" title="pil"></i></td>
              <td>{{val.keterangan}}</td>
              <!-- <td>
                <button type="button" class="btn btn-warning" (click)="showEdit(modalEdit, val.id)">Ubah</button>
              </td> -->
            </tr>
            <tr *ngIf="ktss.length <= 0">
              <td class="text-center" colspan="28"> Tidak ditemukan</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>