<div class="row">
  <div class="col-md-6 col-xl-4">
    <div class="card mb-3 widget-content bg-arielle-smile">
      <div class="widget-content-wrapper text-white">
        <div class="widget-content-left">
          <div class="widget-heading">Klaster 2</div>
          <div class="widget-subheading">Total Skrining</div>
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-white">
            <span>{{totalklaster2}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-4">
    <div class="card mb-3 widget-content bg-happy-green">
      <div class="widget-content-wrapper text-white">
        <div class="widget-content-left">
          <div class="widget-heading">Klaster 3</div>
          <div class="widget-subheading">Total Skrining</div>
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-white">
            <span>{{totalklaster3}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-4">
    <div class="card mb-3 widget-content bg-warm-flame">
      <div class="widget-content-wrapper text-white">
        <div class="widget-content-left">
          <div class="widget-heading">Klaster 4</div>
          <div class="widget-subheading">Total Skrining</div>
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-white">
            <span>{{totalklaster4}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12 row">
    <div class="col-4">
      <span>Cari no kartu : </span><br>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="cari no kartu" aria-label="cari no kartu"
          aria-describedby="basic-addon1">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <fa-icon [icon]="faSearch"></fa-icon>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card main-card mb-3 p-3 card-tabbed-header">
      <apx-chart [series]="[10,20,70]" [labels]="['Klaster 2','Klaster 3','Klaster 4']"
        [chart]="{ height: '350', type: 'pie' }">
      </apx-chart>
    </div>
  </div>
  <div class="col-md-7">
    <div class="card main-card mb-3 p-3 card-tabbed-header">
      <apx-chart
      [series]="[
        {
          name: 'Desktops',
          data: [10, 41, 35, 51, 49, 62, 69, 91, 148]
        }
      ]"
      [chart]="{
        height: 350,
        type: 'line',
        zoom: {
          enabled: false
        }
      }"
      [dataLabels]="{
        enabled: false
      }"
      [stroke]="{
        curve: 'straight'
      }"
      [title]="{
        text: 'Product Trends by Month',
        align: 'left'
      }"
      [grid]="{
        row: {
          colors: ['#f3f3f3', 'transparent'],
          opacity: 0.5
        }
      }"
      [xaxis]="{
        categories: [
          'Jan',
          'Feb',
          'Mar',
          'Apr',
          'May',
          'Jun',
          'Jul',
          'Aug',
          'Sep'
        ]
      }"
      >
      </apx-chart>
    </div>
  </div>
</div>