<div class="row">
    <div class="col-12 my-3">
        <label for="cari_tindakan" class="form-label">Cari Diagnosa</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <select [(ngModel)]="searchDiagnosaBy" class="form-control">
                <option value="1">Nama Diagnosa</option>
                <option value="3">Kode Diagnosa</option>
                </select>
            </div>
            <input type="text" class="form-control" [(ngModel)]="searchDiagnosaText" (keyup)="cariDiagnosa()" id="cari_tindakan" placeholder="{{ searchDiagnosaText }}">
        </div>
        <select multiple class="form-control" id="exampleFormControlSelect2" *ngIf="diagnosaList.length > 0" >
            <option *ngFor="let item of diagnosaList" (click)="pilihDiagnosa(item)">{{ item.kddiagnosa }} : {{ item.diagnosa }}</option>
        </select>
    </div>
</div>