<div>
    <div class="app-inner-layout" style="margin: 0 auto; padding: 20px">
        <div class="row">
            <div class="col-12">
                <div class="card mb-2">
                    <div class="card-header navy">Data Pasien</div>
                    <div class="card-body">
                        <div align="right">
                            <button class="btn btn-primary btn-icon" routerLink="/master/satusehat-pnc">
                                <span class="pe-2 opacity-7">
                                    <fa-icon [icon]="faArrowLeft"></fa-icon>
                                </span>
                                Kembali
                            </button>
                        </div>
                        <!-- header body -->
                        <div class="row">
                            <div class="col-lg-3 col-6">
                                <strong>No Rm</strong>
                                <br />
                                {{ patientData . norm }}
                            </div>
                            <div class="col-lg-3 col-6">
                                <strong>Nama Pasien</strong>
                                <br />
                                {{ patientData . pasien }}
                            </div>
                            <div class="col-lg-3 col-6">
                                <strong>Tanggal Lahir</strong>
                                <br />
                                {{ patientData . tgllahir }}
                            </div>
                            <div class="col-lg-3 col-6">
                                <strong>Umur</strong>
                                <br />
                                {{ patientData . umur }}
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-3 col-6">
                                <strong>Jenis Kelamin</strong>
                                <br />
                                {{ patientData . jeniskelamin == 'L' ? 'Laki laki' : 'Perempuan' }}
                            </div>
                            <div class="col-lg-3 col-6">
                                <strong>Poli</strong>
                                <br />
                                {{ patientData . nampoli }}
                            </div>
                            <div class="col-lg-3 col-6">
                                <strong>Jenis Pesien</strong>
                                <br />
                                {{ patientData . costumer }}
                            </div>
                            <div class="col-lg-3 col-6">
                                <strong>Alamat</strong>
                                <br />
                                {{ patientData . alamat }}
                            </div>
                        </div>
                        <!-- header body -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item border-end">
                        <a class="nav-link {{ activeTab == 'form-related-person' ? 'active' : '' }}" href="javascript:;"
                            (click)="openTab('form-related-person')">
                            Related Person
                        </a>
                    </li>
                    <li class="nav-item border-end">
                        <a class="nav-link {{ activeTab == 'observasi-data-persalinan' ? 'active' : '' }}"
                            href="javascript:;" (click)="openTab('observasi-data-persalinan')">
                            Observasi Data Persalinan
                        </a>
                    </li>
                    <li class="nav-item border-end">
                        <a class="nav-link {{ activeTab == 'procedure-konseling-pelayanan-nifas' ? 'active' : '' }}"
                            href="javascript:;" (click)="openTab('procedure-konseling-pelayanan-nifas')">
                            Konsultasi Prosedur Pelayanan Nifas
                        </a>
                    </li>
                    <li class="nav-item border-end">
                        <a class="nav-link {{ activeTab == 'condition-pelayanan-nifas' ? 'active' : '' }}"
                            href="javascript:;" (click)="openTab('condition-pelayanan-nifas')">
                            Kondisi Pelayanan Nifas
                        </a>
                    </li>
                    <li class="nav-item border-end">
                        <a class="nav-link {{ activeTab == 'observasi-pelayanan-nifas' ? 'active' : '' }}"
                            href="javascript:;" (click)="openTab('observasi-pelayanan-nifas')">
                            Observasi Pelayanan Nifas
                        </a>
                    </li>
                    <li class="nav-item border-end">
                        <a class="nav-link {{ activeTab == 'observasi-pelayanan-nifas-pendarahan' ? 'active' : '' }}"
                            href="javascript:;" (click)="openTab('observasi-pelayanan-nifas-pendarahan')">
                            Observasi Pelayanan Nifas Pendarahan
                        </a>
                    </li>
                    <li class="nav-item border-end">
                        <a class="nav-link {{ activeTab == 'request-pemeriksaan-hasil-lab' ? 'active' : '' }}"
                            href="javascript:;" (click)="openTab('request-pemeriksaan-hasil-lab')">
                            Permintaan Pemeriksaan Lab
                        </a>
                    </li>
                    <li class="nav-item border-end">
                        <a class="nav-link {{ activeTab == 'observasi-pemeriksaan-hasil-lab' ? 'active' : '' }}"
                            href="javascript:;" (click)="openTab('observasi-pemeriksaan-hasil-lab')">
                            Observasi Pemeriksaan Hasil Lab
                        </a>
                    </li>
                    <li class="nav-item border-end">
                        <a class="nav-link {{ activeTab == 'specimen-pemeriksaan-hasil-lab' ? 'active' : '' }}"
                            href="javascript:;" (click)="openTab('specimen-pemeriksaan-hasil-lab')">
                            Speciment Pemeriksaan Hasil Lab
                        </a>
                    </li>
                    <li class="nav-item border-end">
                        <a class="nav-link {{ activeTab == 'laporan-diagnosa-lab' ? 'active' : '' }}"
                            href="javascript:;" (click)="openTab('laporan-diagnosa-lab')">
                            Laporan Diagnosa Lab
                        </a>
                    </li>

                    <li class="nav-item border-end">
                        <a class="nav-link {{ activeTab == 'diagnosa-condition' ? 'active' : '' }}" href="javascript:;"
                            (click)="openTab('diagnosa-condition')">
                            Diagnosa Kondisi
                        </a>
                    </li>
                    <li class="nav-item border-end">
                        <a class="nav-link {{ activeTab == 'procedure-tindakan' ? 'active' : '' }}" href="javascript:;"
                            (click)="openTab('procedure-tindakan')">
                            Prosedur tindakan
                        </a>
                    </li>
                    <li class="nav-item border-end">
                        <a class="nav-link {{ activeTab == 'rencana-tindak-lanjut' ? 'active' : '' }}"
                            href="javascript:;" (click)="openTab('rencana-tindak-lanjut')">
                            Rencana Tindak Lanjut
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ activeTab == 'condition-leave-fasyankes' ? 'active' : '' }}"
                            href="javascript:;" (click)="openTab('condition-leave-fasyankes')">
                            Kondisi Meninggalkan Fasyankes
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="card mb-2" *ngIf="activeTab == 'form-related-person'">
            <div class="card-body">
                <form>
                    <div class="row">
                        <!-- Pilihan Jenis Relasi -->
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="relates_person" class="form-label fw-bold">
                                    Jenis Relasi
                                </label>
                                <select id="relates_person" class="form-select" [(ngModel)]="selectedRelatesPerson"
                                    name="relates_person" (change)="onChangeRelatesPerson()">
                                    <option [ngValue]="undefined" selected>Pilih Hubungan</option>
                                    <option value="ibu">Ibu</option>
                                    <option value="ayah">Ayah</option>
                                    <option value="kakak">Kakak</option>
                                    <option value="saudara">Saudara</option>
                                </select>
                            </div>
                        </div>

                        <!-- Form Data Relasi -->
                        <div class="col-12">
                            <h3 class="mb-2">Data {{ relationLabel }}</h3>
                            <div class="row">
                                <div class="col-6">
                                    <div class="mb-2">
                                        <label for="nama_relasi" class="form-label">
                                            Nama {{ relationLabel }}
                                        </label>
                                        <input type="text" class="form-control" id="nama_relasi"
                                            [(ngModel)]="relatedPersonData.nama_relasi" name="nama_relasi" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-2">
                                        <label for="nik_relasi" class="form-label">
                                            NIK {{ relationLabel }}
                                        </label>
                                        <input type="text" class="form-control" id="nik_relasi"
                                            [(ngModel)]="relatedPersonData.nik_relasi" name="nik_relasi" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-2">
                                        <label for="tl_relasi" class="form-label">
                                            Tanggal Lahir {{ relationLabel }}
                                        </label>
                                        <input type="date" class="form-control" id="tl_relasi"
                                            [(ngModel)]="relatedPersonData.tl_relasi" name="tl_relasi" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-2">
                                        <label for="hp_relasi" class="form-label">
                                            No. HP {{ relationLabel }}
                                        </label>
                                        <input type="text" class="form-control" id="hp_relasi"
                                            [(ngModel)]="relatedPersonData.hp_relasi" name="hp_relasi" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-2">
                                        <label for="alamat_jalan_relasi" class="form-label">
                                            Alamat {{ relationLabel }}
                                        </label>
                                        <textarea class="form-control" id="alamat_jalan_relasi" [(ngModel)]="relatedPersonData.alamat_jalan_relasi"
                                            name="alamat_jalan_relasi"></textarea>
                                    </div>
                                </div>

                                <!-- Dropdown Provinsi, Kota, Kecamatan, Kelurahan -->
                                <div class="col-6">
                                    <div class="mb-2">
                                        <label for="province_id_relasi" class="form-label">
                                            Provinsi
                                        </label>
                                        <app-master-province [provinceId]="relatedPersonData.province_id_relasi"
                                            (provinceOutput)="relatedPersonData.province_id_relasi = $event">
                                        </app-master-province>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-2">
                                        <label for="city_id_relasi" class="form-label">Kota
                                        </label>
                                        <app-master-city [cityId]="relatedPersonData.city_id_relasi"
                                            [provinceId]="relatedPersonData.province_id_relasi"
                                            (cityOutput)="relatedPersonData.city_id_relasi = $event">
                                        </app-master-city>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-2">
                                        <label for="district_id_relasi" class="form-label">Kecamatan</label>
                                        <app-master-district [districtId]="relatedPersonData.district_id_relasi"
                                            [cityId]="relatedPersonData.city_id_relasi"
                                            (districtOutput)="relatedPersonData.district_id_relasi = $event">
                                        </app-master-district>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-2">
                                        <label for="village_id_relasi" class="form-label">Kelurahan</label>
                                        <app-master-sub-district [subdistrictId]="relatedPersonData.village_id_relasi"
                                            [districtId]="relatedPersonData.district_id_relasi"
                                            (subDistrictOutput)="relatedPersonData.village_id_relasi = $event">
                                        </app-master-sub-district>
                                    </div>
                                </div>

                                <!-- RT, RW, dan Kode Pos -->
                                <div class="col-6">
                                    <div class="mb-2">
                                        <label for="rt_relasi" class="form-label">RT {{ relationLabel }}</label>
                                        <input type="text" class="form-control" id="rt_relasi"
                                            [(ngModel)]="relatedPersonData.rt_relasi" name="rt_relasi" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-2">
                                        <label for="rw_relasi" class="form-label">RW {{ relationLabel }}</label>
                                        <input type="text" class="form-control" id="rw_relasi"
                                            [(ngModel)]="relatedPersonData.rw_relasi" name="rw_relasi" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-2">
                                        <label for="postal_code_relasi" class="form-label">Kode Pos
                                            {{ relationLabel }}</label>
                                        <input type="text" class="form-control" id="postal_code_relasi"
                                            [(ngModel)]="relatedPersonData.postal_code_relasi"
                                            name="postal_code_relasi" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card mb-2" *ngIf="activeTab == 'observasi-data-persalinan'">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-6 p-3 mb-3 border rounded shadow-sm bg-light"
                            *ngFor="let itemPersalinan of listObservasiPersalinan; let i = index; trackBy: trackByTerminologyId">

                            <label class="fw-bold text-primary d-flex justify-content-between align-items-center"
                                [title]="itemPersalinan.description">
                                {{ itemPersalinan . terminology_name }}
                            </label>

                            <div class="d-flex align-items-center gap-2 mt-3">
                                <!-- Input Angka -->
                                <input type="number" class="form-control w-50" placeholder="Masukkan nilai"
                                    [value]="itemPersalinan.userInput || ''"
                                    (input)="onInputChange($event, itemPersalinan, 'userInput')"
                                    [name]="'userInput_' + i" />

                                <!-- Select Kategori -->
                                <select class="form-select w-50" [(ngModel)]="itemPersalinan.selectedCategory"
                                    [name]="'selectedCategory_' + i">
                                    <option [ngValue]="undefined" selected>Pilih Kategori</option>
                                    <option *ngFor="let item of listKategoriObservasi" [ngValue]="item">
                                        {{ item . terminology_name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card mb-2" *ngIf="activeTab == 'observasi-pelayanan-nifas'">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-6 p-3 mb-3 border rounded shadow-sm bg-light"
                            *ngFor="let itemPelayananNifas of listObservasiPelayananNifas; let i = index">
                            <label class="fw-bold text-primary d-flex justify-content-between align-items-center"
                                [title]="itemPelayananNifas.description">
                                {{ itemPelayananNifas . terminology_name }}
                            </label>
                            <div class="d-flex align-items-center gap-2 mt-3">
                                <!-- Input Angka -->
                                <input type="number" class="form-control w-50" placeholder="Masukkan nilai"
                                    [(ngModel)]="listObservasiPelayananNifas[i].userInput"
                                    name="userInput_{{ i }}" />

                                <!-- Select Kategori -->
                                <select class="form-select w-25" [(ngModel)]="itemPelayananNifas.selectedCategory"
                                    [name]="'selectedCategory_' + i">
                                    <option [ngValue]="undefined" selected>Pilih Kategori</option>
                                    <option *ngFor="let item of listKategoriObservasi" [ngValue]="item">
                                        {{ item . terminology_name }}
                                    </option>
                                </select>
                                <select class="form-select w-25"
                                    (change)="itemPelayananNifas.unit = $event.target.value">
                                    <option [ngValue]="undefined" selected>Pilih Satuan Unit</option>
                                    <option *ngFor="let satuanUnit of listSatuanUnit" [ngValue]="satuanUnit.unit_code"
                                        [selected]="satuanUnit.unit_code?.toLowerCase() === itemPelayananNifas.unit?.toLowerCase()">
                                        {{ satuanUnit . unit_code }}
                                    </option>

                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card mb-2" *ngIf="activeTab == 'observasi-pelayanan-nifas-pendarahan'">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-6 p-3 mb-3 border rounded shadow-sm bg-light"
                            *ngFor="let itemPelayananNifasPendarahan of listObservasiPelayananNifasPendarahan; let i = index">
                            <label class="fw-bold text-primary d-flex justify-content-between align-items-center"
                                [title]="itemPelayananNifasPendarahan.description">
                                {{ itemPelayananNifasPendarahan . terminology_name }}
                            </label>
                            <div class="d-flex align-items-center gap-2 mt-3">
                                <!-- 🔥 Input Keterangan (inputString) -->
                                <textarea class="form-control w-50" [(ngModel)]="itemPelayananNifasPendarahan.inputString"
                                    [name]="'inputString_' + i" placeholder="Input Keterangan" rows="1"></textarea>

                                <!-- 🔥 Input Angka -->
                                <input type="number" class="form-control w-50" placeholder="Masukkan nilai"
                                    [(ngModel)]="itemPelayananNifasPendarahan.userInput" [name]="'userInput_' + i" />

                                <!-- 🔥 Select Kategori -->
                                <select class="form-select w-25"
                                    [(ngModel)]="itemPelayananNifasPendarahan.selectedCategory"
                                    [name]="'selectedCategory_' + i">
                                    <option [ngValue]="undefined" selected>Pilih Kategori</option>
                                    <option *ngFor="let item of listKategoriObservasi" [ngValue]="item">
                                        {{ item . terminology_name }}
                                    </option>
                                </select>

                                <!-- 🔥 Select Satuan Unit -->
                                <select class="form-select w-25" [(ngModel)]="itemPelayananNifasPendarahan.unit"
                                    [name]="'unit_' + i">
                                    <option [ngValue]="undefined" selected>Pilih Satuan Unit</option>
                                    <option *ngFor="let satuanUnit of listSatuanUnit"
                                        [ngValue]="satuanUnit.unit_code">
                                        {{ satuanUnit . unit_code }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card mb-2" *ngIf="activeTab == 'observasi-pemeriksaan-hasil-lab'">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-6 p-3 mb-3 border rounded shadow-sm bg-light"
                            *ngFor="let itemPemeriksaanLab of listObservasiPemeriksaanLab; let i = index">
                            <label class="fw-bold text-primary d-flex justify-content-between align-items-center"
                                [title]="itemPemeriksaanLab.description">
                                {{ itemPemeriksaanLab . terminology_name }}
                            </label>
                            <div class="d-flex align-items-center gap-2 mt-3">
                                <!-- Select Kategori -->
                                <select class="form-select w-100" [(ngModel)]="itemPemeriksaanLab.selectedCategory"
                                    name="selectedCategory" title="kategori">
                                    <option [ngValue]="undefined" selected>Pilih Kategori</option>
                                    <option *ngFor="let item of listKategoriObservasi" [ngValue]="item">
                                        {{ item . terminology_name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card mb-2" *ngIf="activeTab == 'condition-pelayanan-nifas'">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-6 p-3 mb-3 border rounded shadow-sm bg-light"
                            *ngFor="let itemConditionPelayananNifas of listConditionPelayananNifas; let i = index; trackBy: trackByIndex">
                            <label class="fw-bold text-primary d-flex justify-content-between align-items-center"
                                [title]="itemConditionPelayananNifas.description">
                                {{ itemConditionPelayananNifas . terminology_name }}
                            </label>
                            <div class="d-flex align-items-center gap-2 mt-3">
                                <!-- 🔥 Input Keterangan (inputString) -->
                                <textarea class="form-control w-50" [(ngModel)]="itemConditionPelayananNifas.inputString" [name]="'inputString_' + i"
                                    placeholder="Input Keterangan" rows="1"></textarea>

                                <!-- 🔥 Select Kategori -->
                                <select class="form-select w-25"
                                    [(ngModel)]="itemConditionPelayananNifas.selectedCategory"
                                    [name]="'selectedCategory_' + i" title="kategori">
                                    <option [ngValue]="undefined" selected>Pilih Kategori</option>
                                    <option *ngFor="let item of listKategoriCondition" [ngValue]="item">
                                        {{ item . terminology_name }}
                                    </option>
                                </select>

                                <!-- 🔥 Select Kondisi Klinis -->
                                <select class="form-select w-25"
                                    [(ngModel)]="itemConditionPelayananNifas.clinicalStatus"
                                    [name]="'clinicalStatus_' + i">
                                    <option [ngValue]="undefined" selected>Pilih Kondisi Klinis</option>
                                    <option *ngFor="let conditionClinical of listCondtionClinical"
                                        [ngValue]="conditionClinical">
                                        {{ conditionClinical . terminology_name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card mb-2" *ngIf="activeTab == 'diagnosa-condition'">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-6 p-3 mb-3 border rounded shadow-sm bg-light"
                            *ngFor="let itemConditionDiagnosis of listConditionDiagnosis; let i = index; trackBy: trackByIndex">
                            <label class="fw-bold text-primary d-flex justify-content-between align-items-center"
                                [title]="itemConditionDiagnosis.description">
                                {{ itemConditionDiagnosis . terminology_name }}
                            </label>
                            <div class="d-flex align-items-center gap-2 mt-3">
                                <!-- 🔥 Input Keterangan (inputString) -->
                                <textarea class="form-control w-50" [(ngModel)]="itemConditionDiagnosis.inputString" [name]="'inputString_' + i"
                                    placeholder="Input Keterangan" rows="1"></textarea>

                                <!-- 🔥 Select Kategori -->
                                <select class="form-select w-25" [(ngModel)]="itemConditionDiagnosis.selectedCategory"
                                    [name]="'selectedCategory_' + i" title="kategori">
                                    <option [ngValue]="undefined" selected>Pilih Kategori</option>
                                    <option *ngFor="let item of listKategoriCondition" [ngValue]="item">
                                        {{ item . terminology_name }}
                                    </option>
                                </select>

                                <!-- 🔥 Select Kondisi Klinis -->
                                <select class="form-select w-25" [(ngModel)]="itemConditionDiagnosis.clinicalStatus"
                                    [name]="'clinicalStatus_' + i">
                                    <option [ngValue]="undefined" selected>Pilih Kondisi Klinis</option>
                                    <option *ngFor="let conditionClinical of listCondtionClinical"
                                        [ngValue]="conditionClinical">
                                        {{ conditionClinical . terminology_name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- NOTE : Now TODO -->
        <div class="card mb-2" *ngIf="activeTab == 'condition-leave-fasyankes'">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-12 p-3 mb-3 border rounded shadow-sm bg-light">
                            <!-- Pilih Condition -->
                            <label class="fw-bold text-primary">Pilih Kondisi</label>
                            <select class="form-select" [(ngModel)]="selectedCondition" name="selectedCondition">
                                <option [ngValue]="undefined" selected>Pilih Kondisi</option>
                                <option *ngFor="let item of listConditionLeaveFasyankes" [ngValue]="item">
                                    {{ item . terminology_name }}
                                </option>
                            </select>

                            <!-- Jika condition dipilih, tampilkan opsi lanjutan -->
                            <div *ngIf="selectedCondition">
                                <div class="d-flex align-items-center gap-3 mt-3">
                                    <div class="w-50">
                                        <label class="fw-bold text-primary">Pilih Kategori</label>
                                        <select class="form-select" [(ngModel)]="selectedCondition.selectedCategory"
                                            name="selectedCategory">
                                            <option [ngValue]="undefined" selected>Pilih Kategori</option>
                                            <option *ngFor="let item of listKategoriCondition" [ngValue]="item">
                                                {{ item . terminology_name }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="w-50">
                                        <label class="fw-bold text-primary">Pilih Kondisi Klinis</label>
                                        <select class="form-select" [(ngModel)]="selectedCondition.clinicalStatus"
                                            name="clinicalStatus">
                                            <option [ngValue]="undefined" selected>Pilih Kondisi Klinis</option>
                                            <option *ngFor="let conditionClinical of listCondtionClinical"
                                                [ngValue]="conditionClinical">
                                                {{ conditionClinical . terminology_name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <label class="fw-bold text-primary mt-3">Keterangan</label>
                                <textarea class="form-control" [(ngModel)]="selectedCondition.inputString" name="inputString"
                                    placeholder="Input Keterangan" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card mb-2" *ngIf="activeTab == 'procedure-konseling-pelayanan-nifas'">
            <div class="card-body">
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6 p-3 mb-3 border rounded shadow-sm bg-light"
                                *ngFor="let itemProcedureKonselingNifas of listProcedureKonselingNifas">
                                <label class="fw-bold text-primary d-flex justify-content-between align-items-center"
                                    [title]="itemProcedureKonselingNifas.description">
                                    {{ itemProcedureKonselingNifas . terminology_name }}

                                    <small>{{ itemProcedureKonselingNifas . description }}</small>
                                </label>
                                <div class="d-flex align-items-center gap-2 mt-3">
                                    <!-- Input Periode Mulai -->

                                    <label for="periode_mulai" class="form-label">Periode Mulai</label>
                                    <input type="datetime-local" class="form-control" id="periode_mulai"
                                        [(ngModel)]="itemProcedureKonselingNifas.periodeMulai" name="periode_mulai" />
                                    <!-- Input Periode Berakhir -->
                                    <label for="periode_berakhir" class="form-label">Periode
                                        Berakhir</label>
                                    <input type="datetime-local" class="form-control" id="periode_berakhir"
                                        [(ngModel)]="itemProcedureKonselingNifas.periodeBerakhir"
                                        name="periode_berakhir" />
                                    <!-- Select Kategori -->
                                    <div class="col-3">
                                        <select class="form-select"
                                            [(ngModel)]="itemProcedureKonselingNifas.selectedCategory"
                                            name="selectedCategory" title="kategori">
                                            <option [ngValue]="undefined" selected>Pilih Kategori</option>
                                            <option *ngFor="let item of listKategoriProcedure" [ngValue]="item">
                                                {{ item . terminology_name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card mb-2" *ngIf="activeTab == 'procedure-tindakan'">
            <div class="card-body">
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6 p-3 mb-3 border rounded shadow-sm bg-light"
                                *ngFor="let itemProcedureTindakan of listProcedureTindakan">
                                <label class="fw-bold text-primary d-flex justify-content-between align-items-center"
                                    [title]="itemProcedureTindakan.description">
                                    {{ itemProcedureTindakan . terminology_name }}

                                    <small>{{ itemProcedureTindakan . description }}</small>
                                </label>
                                <div class="d-flex align-items-center gap-2 mt-3">
                                    <!-- Input Periode Mulai -->

                                    <label for="periode_mulai" class="form-label">Periode Mulai</label>
                                    <input type="datetime-local" class="form-control" id="periode_mulai"
                                        [(ngModel)]="itemProcedureTindakan.periodeMulai" name="periode_mulai" />
                                    <!-- Input Periode Berakhir -->
                                    <label for="periode_berakhir" class="form-label">Periode
                                        Berakhir</label>
                                    <input type="datetime-local" class="form-control" id="periode_berakhir"
                                        [(ngModel)]="itemProcedureTindakan.periodeBerakhir" name="periode_berakhir" />
                                    <!-- Select Kategori -->
                                    <div class="col-3">
                                        <select class="form-select"
                                            [(ngModel)]="itemProcedureTindakan.selectedCategory"
                                            name="selectedCategory" title="kategori">
                                            <option [ngValue]="undefined" selected>Pilih Kategori</option>
                                            <option *ngFor="let item of listKategoriProcedure" [ngValue]="item">
                                                {{ item . terminology_name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card mb-2" *ngIf="activeTab == 'request-pemeriksaan-hasil-lab'">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 border-start border-end mb-2"
                                *ngFor="let itemServiceRequest of listRequestPemeriksaanLab">
                                <label class="fw-bold" [title]="itemServiceRequest.description">
                                    {{ itemServiceRequest . terminology_name }}
                                </label>
                                <div class="alert alert-info" role="alert">
                                    Deskripsi: {{ itemServiceRequest . description }}
                                </div>
                                <textarea class="form-control" id="deskripsi" [(ngModel)]="itemServiceRequest.deskripsi" name="deskripsi"
                                    rows="3" placeholder="Input keterangan"></textarea>
                                <div *ngFor="let categoryServiceRequest of listKategoriServiceRequest"
                                    class="form-check">

                                    <input class="form-check-input" type="checkbox"
                                        (change)="toggleInputPermintaanPemeriksaanLab(itemServiceRequest.terminology_id + '-' + categoryServiceRequest.terminology_id,categoryServiceRequest,itemServiceRequest.terminology_id)"
                                        [id]="itemServiceRequest.terminology_id + '-' + categoryServiceRequest.terminology_id"
                                        [name]="'checkbox_' + itemServiceRequest.terminology_id + '-' + categoryServiceRequest.terminology_id"
                                        [value]="categoryServiceRequest">

                                    <label class="form-check-label"
                                        [for]="itemServiceRequest.terminology_id + '-' + categoryServiceRequest.terminology_id"
                                        [title]="categoryServiceRequest.description">
                                        {{ categoryServiceRequest . terminology_name }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card mb-2" *ngIf="activeTab == 'specimen-pemeriksaan-hasil-lab'">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-6 p-3 mb-3 border rounded shadow-sm bg-light"
                            *ngFor="let itemSpecimenPemeriksaanLab of listSpecimenPemeriksaanLab">
                            <label class="fw-bold text-primary d-flex justify-content-between align-items-center"
                                [title]="itemSpecimenPemeriksaanLab.description">
                                {{ itemSpecimenPemeriksaanLab . terminology_name }}
                            </label>
                            <div class="d-flex align-items-center gap-2 mt-3">
                                <!-- Select Kategori -->
                                <select class="form-select w-50" [(ngModel)]="itemSpecimenPemeriksaanLab.selectedType"
                                    name="selectedType" title="kategori">
                                    <option [ngValue]="undefined" selected>Pilih Kategori</option>
                                    <option *ngFor="let itemType of listTipeSpecimen" [ngValue]="itemType">
                                        {{ itemType . terminology_name }}
                                    </option>
                                </select>
                                <!-- Select Service Request -->
                                <select class="form-select w-50"
                                    [(ngModel)]="itemSpecimenPemeriksaanLab.selectedServiceRequest"
                                    name="selectedType" title="kategori">
                                    <option [ngValue]="undefined" selected>Pilih Permintaan Sebelumnya</option>
                                    <option *ngFor="let itemSeviceRequest of listServiceRequest"
                                        [ngValue]="itemSeviceRequest">
                                        {{ itemSeviceRequest . request_code }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card mb-2" *ngIf="activeTab == 'laporan-diagnosa-lab'">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-6 p-3 mb-3 border rounded shadow-sm bg-light"
                            *ngFor="let itemReportLab of listLaporanDiagnosaLab">
                            <label class="fw-bold text-primary d-flex justify-content-between align-items-center"
                                [title]="itemReportLab.description">
                                {{ itemReportLab . terminology_name }}
                            </label>
                            <div class="d-flex align-items-center gap-2 mt-3">
                                <!-- Select Kategori -->
                                <select class="form-select w-50" [(ngModel)]="itemReportLab.selectedCategory"
                                    name="selectedCategory" title="kategori">
                                    <option [ngValue]="undefined" selected>Pilih Kategori</option>
                                    <option *ngFor="let itemCategory of listCategoryDiagnosaLab"
                                        [ngValue]="itemCategory">
                                        {{ itemCategory . terminology_name }}
                                    </option>
                                </select>
                                <!-- Select Service speciment -->
                                <select class="form-select w-50" [(ngModel)]="itemReportLab.selectedSpecimen"
                                    name="selectedSpecimen" title="kategori">
                                    <option [ngValue]="undefined" selected>Pilih Data Specimen Sebelumnya</option>
                                    <option *ngFor="let itemSpecimen of listSpecimens" [ngValue]="itemSpecimen">
                                        {{ itemSpecimen . request_code }}
                                    </option>
                                </select>
                                <!-- list observation -->
                                <select class="form-select w-50" [(ngModel)]="itemReportLab.selectedObservation"
                                    name="selectedObservation" title="kategori">
                                    <option [ngValue]="undefined" selected>Pilih Data Observasi Sebelumnya</option>
                                    <option *ngFor="let itemObservation of listObservationLab"
                                        [ngValue]="itemObservation">
                                        {{ itemObservation . request_code }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card mb-2" *ngIf="activeTab == 'rencana-tindak-lanjut'">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-6 p-3 mb-3 border rounded shadow-sm bg-light"
                            *ngFor="let itemCategoruCarePlant of listCarePlantCategory">
                            <label class="fw-bold text-primary d-flex justify-content-between align-items-center"
                                [title]="itemCategoruCarePlant.description">
                                {{ itemCategoruCarePlant . terminology_name }}
                            </label>
                            <div class="d-flex align-items-center gap-2 mt-3">
                                <textarea class="form-control" [(ngModel)]="itemCategoruCarePlant.inputString" name="inputString"
                                    placeholder="Input Keterangan" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="col-12 mb-4" align="center">
        <button class="btn btn-success mx-1" (click)="simpan()" [disabled]="isDisabledFormPnc">
            SIMPAN
        </button>
        <button class="btn btn-danger btn-danger" routerLink="/master/satusehat-pnc">
            KEMBALI
        </button>
    </div>

    <style scoped>
        /* Styling untuk card-header navy */
        .card-header navy {
            background-color: #343a40;
            /* Warna gelap */
            color: white;
            /* Warna teks putih */
            font-weight: bold;
        }

        /* Styling untuk tombol */
        .btn-primary {
            background-color: #007bff;
            border: none;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }

        .btn-danger {
            background-color: #dc3545;
            border: none;
        }

        .btn-danger:hover {
            background-color: #a71d2a;
        }

        .btn-success {
            background-color: #28a745;
            border: none;
        }

        .btn-success:hover {
            background-color: #218838;
        }

        /* Styling untuk form control */
        .form-control {
            border-radius: 5px;
            border: 1px solid #ced4da;
        }

        /* Spacing untuk elemen dalam form */
        .form-group {
            margin-bottom: 1.5rem;
        }

        /* Styling tambahan untuk input radio */
        input[type="radio"] {
            margin-right: 5px;
        }

        /* Styling untuk card body */
        .card-body {
            padding: 1.5rem;
        }

        /* Margin tambahan untuk elemen di dalam card */
        .mt-2 {
            margin-top: 0.5rem;
        }

        /* Styling container */
        .container {
            max-width: 900px;
            margin: 0 auto;
        }
    </style>
</div>
