<form (ngSubmit)="submitFormGinjal()" class="p-4">
  <div class="mb-3 form-pemeriksaan">
    <h5 class="fw-bold">Pemeriksaan Fungsi Ginjal (HT/DM)</h5>
  </div>
  <div class="mb-3">
    <label class="form-label">Ureum:</label>
    <input
      type="number"
      class="form-control mb-2"
      [(ngModel)]="modelGinjal.ureum"
      name="ureum"
    />

    <label class="form-label">Kreatinin:</label>
    <input
      type="number"
      class="form-control mb-2"
      [(ngModel)]="modelGinjal.kreatinin"
      name="kreatinin"
    />

    <label class="form-label">e-LFG (CKD-EPI):</label>
    <input
      type="number"
      class="form-control"
      [(ngModel)]="modelGinjal.elfg"
      name="elfg"
    />
  </div>

  <button class="btn btn-primary mt-3 form-pemeriksaan-pkg">
    <span *ngIf="!isLoading"> Submit </span>
    <span *ngIf="isLoading">
      <span class="spinner-border spinner-border-sm me-1"></span>
      Loading...
    </span>
  </button>
</form>
