<form (ngSubmit)="submitFormGigi()" class="p-4">
  <div class="mb-3 form-pemeriksaan">
    <h5 class="fw-bold">Skrining Gigi</h5>
  </div>

  <!-- Gigi Karies -->
  <div class="mb-3">
    <label class="form-label">Gigi Karies:</label>
    <div class="form-check">
      <input
        type="radio"
        class="form-check-input"
        name="gigiKaries"
        [value]="'true'"
        [(ngModel)]="modelGigi.gigiKaries"
        id="gigi-karies-ya"
      />
      <label class="form-check-label" for="gigi-karies-ya">Ya</label>
    </div>
    <div class="form-check mb-3">
      <input
        type="radio"
        class="form-check-input"
        name="gigiKaries"
        [value]="'false'"
        [(ngModel)]="modelGigi.gigiKaries"
        id="gigi-karies-tidak"
      />
      <label class="form-check-label" for="gigi-karies-tidak">Tidak</label>
    </div>
  </div>

  <!-- Gigi Hilang -->
  <div class="mb-3">
    <label class="form-label">Gigi Hilang:</label>
    <div class="form-check">
      <input
        type="radio"
        class="form-check-input"
        name="gigiHilang"
        [value]="'true'"
        [(ngModel)]="modelGigi.gigiHilang"
        id="gigi-hilang-ya"
      />
      <label class="form-check-label" for="gigi-hilang-ya">Ya</label>
    </div>
    <div class="form-check mb-3">
      <input
        type="radio"
        class="form-check-input"
        name="gigiHilang"
        [value]="'false'"
        [(ngModel)]="modelGigi.gigiHilang"
        id="gigi-hilang-tidak"
      />
      <label class="form-check-label" for="gigi-hilang-tidak">Tidak</label>
    </div>
  </div>

  <button class="btn btn-primary mt-3 form-pemeriksaan-pkg">
    <span *ngIf="!isLoading"> Submit </span>
    <span *ngIf="isLoading">
      <span class="spinner-border spinner-border-sm me-1"></span>
      Loading...
    </span>
  </button>
</form>
