<div class="row">
    <div class="col-12">
        <label for="exampleEmail" *ngIf="title">
            <b>{{title}}</b>
        </label>
        <div class="input-group">
            <input
                id="cari_Kfa"
                type="text"
                class="form-control"
                [(ngModel)]="searchKfaText"
                (ngModelChange)="cariKfa()"
                (keyup.enter)="cariKfa()"
                disabled="{{isDisabled}}"
                placeholder="{{ searchKfaText }}">
        </div>
        <select multiple class="form-control" id="exampleFormControlSelect2" *ngIf="kfaList.length > 0" width="100%">
            <option *ngFor="let item of kfaList" (click)="pilihKfa(item)"><span *ngIf="isShowCode">{{ item.code }} :</span> {{ item.name }}</option>
        </select>
    </div>
</div>