<div>
    <div class="app-inner-layout" style="margin: 0 auto; padding:20px">
      <div class="row">
        <div class="col-12">
          <div class="card mb-3">
            <div class="card-header navy">
              Data Pasien
            </div>
            <div class="card-body">
              <div align="right">
                <button class="btn btn-primary btn-icon" routerLink="/master/satusehat-skrining-ptm">
                  <span class="pe-2 opacity-7">
                    <fa-icon [icon]="faArrowLeft"></fa-icon>
                  </span>
                  Kembali
                </button>
              </div>
              <!-- header body -->
              <div class="row">
                <div class="col-lg-3 col-6">
                  <strong>No Rm</strong>
                  <br>
                  {{patientData.norm}}
                </div>
                <div class="col-lg-3 col-6">
                  <strong>Nama Pasien</strong>
                  <br>
                  {{patientData.pasien}}
                </div>
                <div class="col-lg-3 col-6">
                  <strong>Tanggal Lahir</strong>
                  <br>
                  {{ patientData.tgllahir }}
                </div>
                <div class="col-lg-3 col-6">
                  <strong>Umur</strong>
                  <br>
                  {{ patientData.umur }}
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-3 col-6">
                  <strong>Jenis Kelamin</strong>
                  <br>
                  {{ patientData.jeniskelamin == 'L' ? 'Laki laki' : 'Perempuan' }}
                </div>
                <div class="col-lg-3 col-6">
                  <strong>Poli</strong>
                  <br>
                  {{ patientData.nampoli }}
                </div>
                <div class="col-lg-3 col-6">
                  <strong>Jenis Pesien</strong>
                  <br>
                  {{ patientData.costumer }}
                </div>
                <div class="col-lg-3 col-6">
                  <strong>Alamat</strong>
                  <br>
                  {{ patientData.alamat }}
                </div>
              </div>
              <!-- header body -->
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header navy">
          Skrining PTM
        </div>
        <div class="card-body">
          <div class="row">
            <!-- header body -->
            <div class="mb-3 col-6">
              <div class="card">
                <div class="card-header navy">
                  Riwayat
                </div>
                <div class="card-body">
                  <!-- header body -->
                  <form [formGroup]="formObservation">
                    <!-- Observasi -->
                    <div class="row">
                      <div class="col-12 my-3">
                        <h3>Observasi</h3>
                      </div>
                      <div class="col-6">
                        <div class="position-relative mb-3">
                          <label for="berat_badan" class="form-label">Status Kehamilan</label>
                        </div>
                        <div class="position-relative mb-3">
                          <div class="form-check-inline">
                            <input class="form-check-input" type="radio" id="hamil" value="pregnant" formControlName="status_pregnant_display" (click)="formObservation.controls['status_pregnant_code'].setValue('LA15173-0');">
                            <label class="form-check-label" for="hamil">Hamil</label>
                          </div>
                          <div class="form-check-inline">
                            <input class="form-check-input" type="radio" id="tidakHamil" value="not pregnant" formControlName="status_pregnant_display" (click)="formObservation.controls['status_pregnant_code'].setValue('LA26683-5');">
                            <label class="form-check-label" for="tidakHamil">Tidak Hamil</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <!-- header body -->
                </div>
              </div>
            </div>
            <!-- header body -->

            <!-- header body -->
            <div class="mb-3 col-6">
              <div class="card">
                <div class="card-header navy">
                  Faktor Resiko
                </div>
                <div class="card-body">
                  <!-- header body -->
                  <form [formGroup]="formObservation">
                    <!-- Observasi -->
                    <div class="row">
                      <div class="col-12 my-3">
                        <h3>Observasi</h3>
                      </div>
                      <div class="col-6">
                        <div class="position-relative mb-3">
                          <label for="berat_badan" class="form-label">Status Kehamilan</label>
                        </div>
                        <div class="position-relative mb-3">
                          <div class="form-check-inline">
                            <input class="form-check-input" type="radio" id="hamil" value="pregnant" formControlName="status_pregnant_display" (click)="formObservation.controls['status_pregnant_code'].setValue('LA15173-0');">
                            <label class="form-check-label" for="hamil">Hamil</label>
                          </div>
                          <div class="form-check-inline">
                            <input class="form-check-input" type="radio" id="tidakHamil" value="not pregnant" formControlName="status_pregnant_display" (click)="formObservation.controls['status_pregnant_code'].setValue('LA26683-5');">
                            <label class="form-check-label" for="tidakHamil">Tidak Hamil</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <!-- header body -->
                </div>
              </div>
            </div>
            <!-- header body -->

            <!-- header body -->
            <div class="mb-3 col-6">
              <div class="card">
                <div class="card-header navy">
                  Deteksi Dini Obesitas
                </div>
                <div class="card-body">
                  <!-- header body -->
                  <form [formGroup]="formObservation">
                    <!-- Observasi -->
                    <div class="row">
                      <div class="col-12 my-3">
                        <h3>Deteksi Dini Obesitas</h3>
                      </div>
                      <div class="col-6">
                        <div class="position-relative mb-3">
                          <label for="berat_badan" class="form-label">Status Kehamilan</label>
                        </div>
                        <div class="position-relative mb-3">
                          <div class="form-check-inline">
                            <input class="form-check-input" type="radio" id="hamil" value="pregnant" formControlName="status_pregnant_display" (click)="formObservation.controls['status_pregnant_code'].setValue('LA15173-0');">
                            <label class="form-check-label" for="hamil">Hamil</label>
                          </div>
                          <div class="form-check-inline">
                            <input class="form-check-input" type="radio" id="tidakHamil" value="not pregnant" formControlName="status_pregnant_display" (click)="formObservation.controls['status_pregnant_code'].setValue('LA26683-5');">
                            <label class="form-check-label" for="tidakHamil">Tidak Hamil</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <!-- header body -->
                </div>
              </div>
            </div>
            <!-- header body -->

            <!-- header body -->
            <div class="mb-3 col-6">
              <div class="card">
                <div class="card-header navy">
                  Deteksi Dini Hipertensi
                </div>
                <div class="card-body">
                  <!-- header body -->
                  <form [formGroup]="formObservation">
                    <!-- Observasi -->
                    <div class="row">
                      <div class="col-12 my-3">
                        <h3>Deteksi Dini Hipertensi</h3>
                      </div>
                      <div class="col-6">
                        <div class="position-relative mb-3">
                          <label for="berat_badan" class="form-label">Status Kehamilan</label>
                        </div>
                        <div class="position-relative mb-3">
                          <div class="form-check-inline">
                            <input class="form-check-input" type="radio" id="hamil" value="pregnant" formControlName="status_pregnant_display" (click)="formObservation.controls['status_pregnant_code'].setValue('LA15173-0');">
                            <label class="form-check-label" for="hamil">Hamil</label>
                          </div>
                          <div class="form-check-inline">
                            <input class="form-check-input" type="radio" id="tidakHamil" value="not pregnant" formControlName="status_pregnant_display" (click)="formObservation.controls['status_pregnant_code'].setValue('LA26683-5');">
                            <label class="form-check-label" for="tidakHamil">Tidak Hamil</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <!-- header body -->
                </div>
              </div>
            </div>
            <!-- header body -->

            <!-- header body -->
            <div class="mb-3 col-6">
              <div class="card">
                <div class="card-header navy">
                  Deteksi Dini Mata
                </div>
                <div class="card-body">
                  <!-- header body -->
                  <form [formGroup]="formObservation">
                    <!-- Observasi -->
                    <div class="row">
                      <div class="col-12 my-3">
                        <h3>Deteksi Dini Mata</h3>
                      </div>
                      <div class="col-6">
                        <div class="position-relative mb-3">
                          <label for="berat_badan" class="form-label">Status Kehamilan</label>
                        </div>
                        <div class="position-relative mb-3">
                          <div class="form-check-inline">
                            <input class="form-check-input" type="radio" id="hamil" value="pregnant" formControlName="status_pregnant_display" (click)="formObservation.controls['status_pregnant_code'].setValue('LA15173-0');">
                            <label class="form-check-label" for="hamil">Hamil</label>
                          </div>
                          <div class="form-check-inline">
                            <input class="form-check-input" type="radio" id="tidakHamil" value="not pregnant" formControlName="status_pregnant_display" (click)="formObservation.controls['status_pregnant_code'].setValue('LA26683-5');">
                            <label class="form-check-label" for="tidakHamil">Tidak Hamil</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <!-- header body -->
                </div>
              </div>
            </div>
            <!-- header body -->

            <!-- header body -->
            <div class="mb-3 col-6">
              <div class="card">
                <div class="card-header navy">
                  Diagnosa
                </div>
                <div class="card-body">
                  <!-- header body -->
                  <form [formGroup]="formObservation">
                    <!-- Observasi -->
                    <div class="row">
                      <div class="col-12 my-3">
                        <h3>Diagnosa</h3>
                      </div>
                      <div class="col-6">
                        <div class="position-relative mb-3">
                          <label for="berat_badan" class="form-label">Status Kehamilan</label>
                        </div>
                        <div class="position-relative mb-3">
                          <div class="form-check-inline">
                            <input class="form-check-input" type="radio" id="hamil" value="pregnant" formControlName="status_pregnant_display" (click)="formObservation.controls['status_pregnant_code'].setValue('LA15173-0');">
                            <label class="form-check-label" for="hamil">Hamil</label>
                          </div>
                          <div class="form-check-inline">
                            <input class="form-check-input" type="radio" id="tidakHamil" value="not pregnant" formControlName="status_pregnant_display" (click)="formObservation.controls['status_pregnant_code'].setValue('LA26683-5');">
                            <label class="form-check-label" for="tidakHamil">Tidak Hamil</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <!-- header body -->
                </div>
              </div>
            </div>
            <!-- header body -->

            <!-- header body -->
            <div class="mb-3 col-6">
              <div class="card">
                <div class="card-header navy">
                  Tindakan
                </div>
                <div class="card-body">
                  <!-- header body -->
                  <form [formGroup]="formObservation">
                    <!-- Observasi -->
                    <div class="row">
                      <div class="col-12 my-3">
                        <h3>Tindakan</h3>
                      </div>
                      <div class="col-6">
                        <div class="position-relative mb-3">
                          <label for="berat_badan" class="form-label">Status Kehamilan</label>
                        </div>
                        <div class="position-relative mb-3">
                          <div class="form-check-inline">
                            <input class="form-check-input" type="radio" id="hamil" value="pregnant" formControlName="status_pregnant_display" (click)="formObservation.controls['status_pregnant_code'].setValue('LA15173-0');">
                            <label class="form-check-label" for="hamil">Hamil</label>
                          </div>
                          <div class="form-check-inline">
                            <input class="form-check-input" type="radio" id="tidakHamil" value="not pregnant" formControlName="status_pregnant_display" (click)="formObservation.controls['status_pregnant_code'].setValue('LA26683-5');">
                            <label class="form-check-label" for="tidakHamil">Tidak Hamil</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <!-- header body -->
                </div>
              </div>
            </div>
            <!-- header body -->

            <!-- header body -->
            <div class="mb-3 col-6">
              <div class="card">
                <div class="card-header navy">
                  Tindak Lanjut
                </div>
                <div class="card-body">
                  <!-- header body -->
                  <form [formGroup]="formObservation">
                    <!-- Observasi -->
                    <div class="row">
                      <div class="col-12 my-3">
                        <h3>Tindak Lanjut</h3>
                      </div>
                      <div class="col-6">
                        <div class="position-relative mb-3">
                          <label for="berat_badan" class="form-label">Status Kehamilan</label>
                        </div>
                        <div class="position-relative mb-3">
                          <div class="form-check-inline">
                            <input class="form-check-input" type="radio" id="hamil" value="pregnant" formControlName="status_pregnant_display" (click)="formObservation.controls['status_pregnant_code'].setValue('LA15173-0');">
                            <label class="form-check-label" for="hamil">Hamil</label>
                          </div>
                          <div class="form-check-inline">
                            <input class="form-check-input" type="radio" id="tidakHamil" value="not pregnant" formControlName="status_pregnant_display" (click)="formObservation.controls['status_pregnant_code'].setValue('LA26683-5');">
                            <label class="form-check-label" for="tidakHamil">Tidak Hamil</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <!-- header body -->
                </div>
              </div>
            </div>
            <!-- header body -->

            <!-- header body -->
            <div class="mb-3 col-6">
              <div class="card">
                <div class="card-header navy">
                  Kondisi Meninggalkan Faskes
                </div>
                <div class="card-body">
                  <!-- header body -->
                  <form [formGroup]="formObservation">
                    <!-- Observasi -->
                    <div class="row">
                      <div class="col-12 my-3">
                        <h3>Kondisi Meninggalkan Faskes</h3>
                      </div>
                      <div class="col-6">
                        <div class="position-relative mb-3">
                          <label for="berat_badan" class="form-label">Status Kehamilan</label>
                        </div>
                        <div class="position-relative mb-3">
                          <div class="form-check-inline">
                            <input class="form-check-input" type="radio" id="hamil" value="pregnant" formControlName="status_pregnant_display" (click)="formObservation.controls['status_pregnant_code'].setValue('LA15173-0');">
                            <label class="form-check-label" for="hamil">Hamil</label>
                          </div>
                          <div class="form-check-inline">
                            <input class="form-check-input" type="radio" id="tidakHamil" value="not pregnant" formControlName="status_pregnant_display" (click)="formObservation.controls['status_pregnant_code'].setValue('LA26683-5');">
                            <label class="form-check-label" for="tidakHamil">Tidak Hamil</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <!-- header body -->
                </div>
              </div>
            </div>
            <!-- header body -->

            <!-- header body -->
            <div class="mb-3 col-6">
              <div class="card">
                <div class="card-header navy">
                  Update Data Kunjungan
                </div>
                <div class="card-body">
                  <!-- header body -->
                  <form [formGroup]="formObservation">
                    <!-- Observasi -->
                    <div class="row">
                      <div class="col-12 my-3">
                        <h3>Update Data Kunjungan</h3>
                      </div>
                      <div class="col-6">
                        <div class="position-relative mb-3">
                          <label for="berat_badan" class="form-label">Status Kehamilan</label>
                        </div>
                        <div class="position-relative mb-3">
                          <div class="form-check-inline">
                            <input class="form-check-input" type="radio" id="hamil" value="pregnant" formControlName="status_pregnant_display" (click)="formObservation.controls['status_pregnant_code'].setValue('LA15173-0');">
                            <label class="form-check-label" for="hamil">Hamil</label>
                          </div>
                          <div class="form-check-inline">
                            <input class="form-check-input" type="radio" id="tidakHamil" value="not pregnant" formControlName="status_pregnant_display" (click)="formObservation.controls['status_pregnant_code'].setValue('LA26683-5');">
                            <label class="form-check-label" for="tidakHamil">Tidak Hamil</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <!-- header body -->
                </div>
              </div>
            </div>
            <!-- header body -->
          </div>

          <div class="col-12" align="center">
            <button class="btn btn-success mx-1" (click)="simpan()" [disabled]="isDisabledFormAnc">
              SIMPAN
            </button>
            <button class="btn btn-danger btn-danger" routerLink="/master/satusehat-skrining-ptm">
              KEMBALI
            </button>
          </div>
        </div>
      </div>
</div>
  

<style scoped>
  /* Styling untuk card-header navy */
.card-header navy {
    background-color: #343a40; /* Warna gelap */
    color: white; /* Warna teks putih */
    font-weight: bold;
}

/* Styling untuk tombol */
.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn-danger:hover {
    background-color: #a71d2a;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}

/* Styling untuk form control */
.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
}

/* Spacing untuk elemen dalam form */
.form-group {
    margin-bottom: 1.5rem;
}

/* Styling tambahan untuk input radio */
input[type="radio"] {
    margin-right: 5px;
}

/* Styling untuk card body */
.card-body {
    padding: 1.5rem;
}

/* Margin tambahan untuk elemen di dalam card */
.mt-2 {
    margin-top: 0.5rem;
}

/* Styling container */
.container {
    max-width: 900px;
    margin: 0 auto;
}

</style>
  