


<div class="row">
  <div class="col-md-6">
    <div class="card main-card mb-3">
      <div class="card-header">
      Profil Dokter {{dokter}}
      </div>
      <div class="card-body">
      <form [formGroup]="dokterform" >
          <div class="position-relative mb-3">
            <label for="exampleEmail" class="form-label">SPESIALIS</label>
            <input   formControlName="sp"  [(ngModel)]="sp"   placeholder="SPESIALIS" type="text" class="form-control">
          </div>
          <div class="position-relative mb-3">
            <label for="exampleEmail" class="form-label">LULUSAN</label>
            <input   formControlName="lulusan"  [(ngModel)]="lulusan"   placeholder="LULUSAN" type="text" class="form-control">
          </div>
          <div class="position-relative mb-3">
            <label for="exampleEmail" class="form-label">DISKRIPSI</label>
            <input   formControlName="diskripsi"  [(ngModel)]="diskripsi"   placeholder="DISKRIPSI" type="text" class="form-control">
          </div>
          <div class="position-relative mb-3">
            <label for="exampleEmail" class="form-label">PENGALAMAN</label>
            <input   formControlName="pengalaman"   [(ngModel)]="pengalaman"   placeholder="PENGALAMAN" type="text" class="form-control">
          </div>
          <div class="position-relative mb-3">
            <div *ngIf="!showkkk">
              <img style="width: 50%;" src="{{imageSrc}}" >
            </div>

            <label for="exampleEmail" class="form-label">FOTO</label>
            <input   (change)="onFileChange($event)"  id="file" type="file" class="form-control">
          </div>
        
       
        </form>
       
            <div class="row">
              <div class="col-md-5">
                <div class="d-grid gap-2">
                <button class="mb-2 me-2 btn-pill btn btn-info"  *ngIf="!showedit"  [disabled]="!dokterform.valid"  (click)="simpan()">Simpan
                </button>
            
              </div>
              </div>
              <div class="col-md-5">
                <div class="d-grid gap-2">
                <button class="mb-2 me-2 btn-pill btn btn-focus"  *ngIf="showedit"  [disabled]="!dokterform.valid"    (click)="edituser()">Edit
                </button>
              </div>
              </div>
              <div class="col-md-2">
                <div class="d-grid gap-2">
                <button class="mb-2 me-2 btn-pill btn btn-danger" (click)="batal()">Batal
                </button>
              </div>
              </div>
          </div>
         
         
        <!-- </form> -->
       

       

      </div>
      <!-- <button type="button" class="btn btn-info btn-lg"  routerLink="/dashboards/management">SIMPAN</button> -->
   
      
    </div>
 
   
  </div>
  <div class="col-md-6">
    <div class="card main-card mb-3">
      <div class="card-header">
        Data Dokter
      </div>


      <table class="table table-striped">
        
        <tbody style="color:black;" *ngFor="let x of tdokter">
          <tr >
         
            <td style="font-size: 20px;color:black;font-weight: bold;" colspan="2">
              
            {{dokter}}
            </td>
         
            
          </tr>
          <tr >
         
            <td style="color:black;" >
              
             SPESIALIS : {{x.spesialis}}
            </td>
            <td>
            
            </td>
            
          </tr>
          <tr >
         
            <td style="color:black;">
              
             LULUSAN : {{x.lulusan}}
            </td>
            <td>
            
            </td>
            
          </tr>
          <tr >
         
            <td style="color:black;">
              
             DISKRIPSI :   {{x.deskripsi}}
            </td>
            <td>
             
            </td>
            
          </tr>

          <tr >
         
            <td style="color:black;">
              
             PENGALAMAN :  {{x.total_pengalaman}}
            </td>
            <td>
             
            </td>
            
          </tr>
          <tr >
         
            <td >
              
             RATING PADA APP :  {{x.total_rating}}
            </td>
            <td>
            
            </td>
            
          </tr>
          <tr>
            <div class="position-relative mb-3">
              <div>
                <img style="width: 50%;" src="{{x.gambar}}" >
              </div>
  
             
            </div>
          </tr>
       
          <tr >
         
            <td >
              
              <i style="font-size:20px ;"  (click)="pilihe(x.spesialis,x.lulusan,x.deskripsi,x.total_pengalaman)"  class="font-icon-wrapper pe-7s-note"> </i>
  
  
            </td>
            <td>
            
            </td>
            
          </tr>


      
        </tbody>


       


      </table>

      <div class="vertical-without-time vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
        <div class="vertical-timeline-item vertical-timeline-element" *ngFor="let x of tulasan">
          <div ><span class="vertical-timeline-element-icon bounce-in"><i
                class="badge badge-dot badge-dot-xl bg-success"> </i></span>
            <div class="vertical-timeline-element-content bounce-in">
              <h4 class="timeline-title">{{x.createdAt}}   
                <i style="font-size:20px ;color:chocolate;"  class="font-icon-wrapper pe-7s-star"> </i>
                {{x.rating}}

              </h4>
    
              <p>{{x.deskripsi}}    </p>
            </div>
          </div>
        </div>
        </div>

        

    </div>
  
  
   

  </div>

  


  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h6 class="modal-title">Tambah Dokter <b>{{dokter}}</b> di Poli</h6>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')">
      </button>
    </div>
    <div class="modal-body">
  

<p *ngFor="let x of tdokterperpoli" style="font-size: 11px;color:black;" >{{x.nampoli}} |
   <span style="color:red;font-weight:bold" (click)="delete(x.kddokter,x.kdpoli)"> X</span>
  
  
  </p>

   


<hr>
<span>Tambah Poli</span>
     <ng-select [items]="poliklinik" bindLabel="nampoli"  bindValue="kdpoli" placeholder="Select city" [(ngModel)]="selectedCity" >
    </ng-select>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
      <button type="button" class="btn btn-primary" (click)="simpanc()">Simpan</button>
    </div>
  </ng-template>


</div>



