<div class="app-inner-layout">
  <div class="card mb-3">
    <div class="card-header-tab card-header">
      <div class="card-header-title font-size-lg text-capitalize fw-normal">
        <i class="header-icon lnr-charts icon-gradient bg-happy-green"> </i>
        <b style="font-size:18px;color:rgb(75, 75, 75)">SELAMAT DATANG  {{nama}}</b>
      </div>
      <div class="btn-actions-pane-right text-capitalize">
       


      </div>
    </div>


    <div class="g-0 row">
      
      <div class="col-md-12 col-lg-4">
        <ul class="list-group list-group-flush">
          <li class="bg-transparent list-group-item">
            <div class="widget-content p-0">
              <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                  <div class="widget-content-left">
                    <div class="widget-heading">Total Pasien</div>
                    <div class="widget-subheading">Hari Ini</div>
                  </div>
                  <div class="widget-content-right">
                    <div class="widget-numbers text-success">{{totalpass}}</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
       
        </ul>
      </div>
      <div class="col-md-12 col-lg-4">
        <ul class="list-group list-group-flush">
          <li class="bg-transparent list-group-item">
            <div class="widget-content p-0">
              <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                  <div class="widget-content-left">
                    <div class="widget-heading">Pasien Belum di Periksa</div>
                    <div class="widget-subheading">Hari Ini</div>
                  </div>
                  <div class="widget-content-right">
                    <div class="widget-numbers text-danger">{{totalpassbelum}}</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
         
        </ul>
      </div>
      <div class="col-md-12 col-lg-4">
        <ul class="list-group list-group-flush">
          <li class="bg-transparent list-group-item">
            <div class="widget-content p-0">
              <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                  <div class="widget-content-left">
                    <div class="widget-heading">Pasien Sudah Di Periksa </div>
                    <div class="widget-subheading">Hari Ini</div>
                  </div>
                  <div class="widget-content-right">
                    <div class="widget-numbers text-primary">{{totalpasssudah}}</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          
        </ul>
      </div>
    </div>
  </div>




  <div class="main-card mb-3 card">
    <div class="card-header">
      <!-- <div>
        <h5 class="menu-header-title text-capitalize" style="color:black">Pasien</h5>
      </div> -->
      <div class="btn-actions-pane-left">
        
        <div class="input-group">
          <div class="input-group-text">
            <div class="">
              <fa-icon [icon]="faSearch" ></fa-icon>
            </div>
          </div>
          <input placeholder="Search..." type="text" class="form-control" (keyup)="cpasien($event)">
        </div>
      </div>
      <div class="btn-actions-pane-right">
  
        <div class="input-group">
          <div class="input-group-text">
            <div class="">
            FILTER
            </div>
          </div>
          <select  id="exampleSelect" class="form-select" [(ngModel)]="statuscari"  (change)="onChange($event.target.value)">
            <option value="" >SEMUA</option>     
            <option value="ANTRI" >On Progress</option>
            <option value="SIAP" >Siap DiPanggil</option>
            <option value="SELESAI" >Selesai</option>
           

          </select>
        
        </div>
        </div>
    </div>


    <div class="table-responsive tableFixHeadx">
      <table class="align-middle mb-0 table table-borderless table-striped table-hover">
        <thead>
          <tr>
            <th class="text-center">No Antrian</th>
           
            <th>Pasien</th>
            <th>Satu Sehat</th>
            <th class="text-center">Actions</th>
            <th class="text-center">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of tampilpas">
            <td class="text-center text-muted"  style="width: 78px;" >
              <div class="badge rounded-pill ps-2 pe-2 bg-warning" >{{x.kodeantrian}}{{x.noantrian}}</div>
              <!-- <div class="badge rounded-pill ps-2 pe-2 bg-success" *ngIf="x.status === 'SELESAI'">{{x.status}}</div>
              <div class="badge rounded-pill ps-2 pe-2 bg-danger" *ngIf="x.status === 'ANTRI'">BELUM</div>
              <div class="badge rounded-pill ps-2 pe-2 bg-primary" *ngIf="x.status === 'SIAP'">SIAP!</div> -->
            </td>
         
            <td (click)="panggil(x.noantrian,x.kddokter,x.namdokter,x.kodeantrian,x.notransaksi,x.pasien,x.nampoli)">
              <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                  <!-- <div class="widget-content-left me-3">
                    <div class="widget-content-left">
                      <img width="32" class="rounded" src="./assets/images/flowx.png" alt="">
                    </div>
                  </div> -->
                  <div class="widget-content-left flex2" style="font-size:13px ;">
                    <div class="widget-heading">{{x.pasien}}</div>
                    <div class="widget-subheading">{{x.norm}} | <span class="text-success">{{x.costumer}}</span>  / 

                      <div *ngIf="x.dash === 'BPJS'">
                      <span *ngIf="x.spcare === 'TERDAFTAR DI PCARE'" class="text-success">{{x.spcare}}</span>
                      <span *ngIf="x.spcare === null" class="text-danger">BELUM TERDAFTAR PCARE</span>
                      <span *ngIf="x.spcare === 'SUDAH KIRIM KUNJUNGAN'" class="text-primary">{{x.spcare}}</span>
                    </div>
               
                    </div>
                    <div class="widget-subheading">{{x.nampoli}}</div>
                  </div>
                </div>
              </div>
            </td>
        <td>
          <b *ngIf="x.idsatusehat.length > 1" >Terkirim</b>
          <b *ngIf="x.idsatusehat.length < 1" style="color:red" >Belum</b>
        </td>
           
            <td class="text-center">
              <!-- <button type="button" class="btn-icon btn-icon-only btn btn-light btn-sm" [routerLink]="['/emrform/tuliserm', x.notransaksi,x.kddokter,'dokter',x.norm]">
                View
              </button> -->

              <div class="card-body" *ngIf="showloading">
                <b  *ngIf="not === x.notransaksi">Proses Kirim Satu Sehat..</b>
                <mat-progress-bar mode="indeterminate" *ngIf="not === x.notransaksi"></mat-progress-bar>
              </div>
              <button type="button" class="btn-icon btn-icon-only btn btn-light btn-sm" (click)="ksatusehat(x.notransaksi,x.norm,x.idpasien,x.idhis,x.idsatusehat,x.pasien,x.nampoli,x.namdokter,x.nopengenal,x.kddokter,'dokter')">
                View
              </button>

              
            </td>
            <td class="text-center">
              <div class="badge rounded-pill ps-2 pe-2 bg-danger" *ngIf="x.koreksierm ==='BELUM'">In Progress</div>
              <div class="badge rounded-pill ps-2 pe-2 bg-success"  *ngIf="x.koreksierm ==='SUDAH'">Completed</div>
              
            </td>
          </tr>

        </tbody>
      </table>
    </div>
</div>



  
</div>