<div class="row">
    <div class="col-12">
        <label for="cari_select" *ngIf="title">
            <b>{{title}}</b>
        </label>
        <div class="input-group">
            <input
                id="cari_select"
                type="text"
                class="form-control"
                [(ngModel)]="searchSelectText"
                (ngModelChange)="cariSelect()"
                (keyup.enter)="cariSelect()"
                disabled="{{ isDisabled }}"
                placeholder="{{ searchSelectText }}">
        </div>
        <select multiple class="form-control" id="exampleFormControlSelect2" *ngIf="selectList.length > 0" width="100%">
            <option *ngFor="let item of selectList" (click)="pilihSelect(item)"><span *ngIf="isShowCode">{{ item.village_id }} :</span> {{ item.village_name }}</option>
        </select>
    </div>
</div>