<div class="row">
    <div class="col-12 my-3">
        <label for="cari_tindakan" class="form-label">Cari Tindakan</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <select [(ngModel)]="searchTindakanBy" class="form-control">
                <option value="1">Nama Tindakan</option>
                <option value="3">Kode Tindakan</option>
                </select>
            </div>
            <input type="text" class="form-control" [(ngModel)]="searchTindakanText" (keyup)="cariTindakan()" id="cari_tindakan" placeholder="{{ searchTindakanText }}">
        </div>
        <select multiple class="form-control" id="exampleFormControlSelect2" *ngIf="tindakanList.length > 0" >
            <option *ngFor="let item of tindakanList" (click)="pilihTindakan(item)">{{ item.kdtindakan }} : {{ item.tindakan }}</option>
        </select>
    </div>
</div>