<!-- <app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title> -->
<div class="row">

  <div class="col-lg-12 col-xl-6">
    <div class="main-card mb-3 card">
      <div class="grid-menu grid-menu-2col overflow-hidden">
        <div class="g-0 row">
          <div class="col-sm-6" routerLink="/master/ermdokter">
            <div class="widget-chart widget-chart-hover">
              <div class="icon-wrapper rounded-circle">
                <div class="icon-wrapper-bg bg-primary"></div>
                <i class="lnr-smile text-primary"></i>
              </div>
              <div class="widget-numbers">Pasien RJ</div>
              <!-- <div class="widget-subheading">Pasien RJ</div> -->
             
            </div>
          </div>
          <div class="col-sm-6"  routerLink="/master/ermdokterpasienri"> 
            <div class="widget-chart widget-chart-hover">
              <div class="icon-wrapper rounded-circle">
                <div class="icon-wrapper-bg bg-info"></div>
                <i class="lnr-wheelchair text-info"></i>
              </div>
              <div class="widget-numbers">Pasien RI</div>
             
              
            </div>
          </div>
          <div class="col-sm-6" routerLink="/master/ermdokterrm">
            <div class="widget-chart widget-chart-hover">
              <div class="icon-wrapper rounded-circle">
                <div class="icon-wrapper-bg bg-danger"></div>
                <i class="lnr-laptop-phone text-danger"></i>
              </div>
              <div class="widget-numbers">Pasien RJ Semua</div>
            
              
            </div>
          </div>
          <div class="col-sm-6">
            <div class="widget-chart widget-chart-hover br-br">
              <div class="icon-wrapper rounded-circle">
                <div class="icon-wrapper-bg bg-success"></div>
                <i class="lnr-screen"></i>
              </div>
              <div class="widget-numbers">Riwayat RI</div>
            
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
